# Select, Filter, and Mutate

In this lecture, we will look at three important actions used to process data frames.  While each framework uses different names for these functions, we will use the names from the `R` library `dplyr`, namely `select`, `mutate`, and `filter`.  The most important takeaway will be that, regardless of framework or scale, we can process data frames in the same way by applying the same sequence of data verbs.

## R and Python can interact!

In [20]:
!pip install rpy2 tzlocal

Collecting rpy2
  Using cached https://files.pythonhosted.org/packages/02/d1/074ffbbe7b4bf74c60b75d74c8e67a1e4515b0d85f85cd6540e39610754a/rpy2-2.9.5.tar.gz
Collecting tzlocal
Requirement already satisfied: six in /Users/tr8934qw/anaconda3/lib/python3.6/site-packages (from rpy2) (1.10.0)
Requirement already satisfied: jinja2 in /Users/tr8934qw/anaconda3/lib/python3.6/site-packages (from rpy2) (2.9.6)
Requirement already satisfied: pytz in /Users/tr8934qw/anaconda3/lib/python3.6/site-packages (from tzlocal) (2017.2)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/tr8934qw/anaconda3/lib/python3.6/site-packages (from jinja2->rpy2) (1.0)
Building wheels for collected packages: rpy2
  Building wheel for rpy2 (setup.py) ... error
  Complete output from command /Users/tr8934qw/anaconda3/bin/python -u -c "import setuptools, tokenize;__file__='/private/var/folders/cd/njt6v_ms2t3369_txgx7d6jsjpp78v/T/pip-install-ixa6_p7x/rpy2/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" bdist_wheel -d /private/var/folders/cd/njt6v_ms2t3369_txgx7d6jsjpp78v/T/pip-wheel-hxp4znbl --python-tag cp36:
  R version 3.4.1 (2017-06-30) -- "Single Candle"
  /Library/Frameworks/R.framework/Resources/bin/R CMD config --ldflags
  /Library/Frameworks/R.framework/Resources/bin/R CMD config --cppflags

      Compilation parameters for rpy2's C components:
          include_dirs    = ['/Library/Frameworks/R.framework/Resources/include']
          library_dirs    = ['/usr/local/lib']
          libraries       = ['pcre', 'lzma', 'bz2', 'z', 'icucore', 'm', 'iconv']
          extra_link_args = ['-fopenmp', '-F/Library/Frameworks/R.framework/..', '-framework', 'R']

  running bdist_wheel
  running build
  running build_py
  creating build
  creating build/lib.macosx-10.9-x86_64-3.6
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2
  copying ./rpy/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
  copying ./rpy/rpy_classic.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
  copying ./rpy/situation.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
  copying ./rpy/tests.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
  copying ./rpy/tests_rpy_classic.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
  copying ./rpy/rlike/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
  copying ./rpy/rlike/container.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
  copying ./rpy/rlike/functional.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
  copying ./rpy/rlike/indexing.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
  copying ./rpy/rlike/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
  copying ./rpy/rlike/tests/test_container.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
  copying ./rpy/rlike/tests/test_functional.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
  copying ./rpy/rlike/tests/test_indexing.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface
  copying ./rpy/rinterface/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/test_Device.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/test_EmbeddedR.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/test_Sexp.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/test_SexpClosure.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/test_SexpEnvironment.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/test_SexpExtPtr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/test_SexpSymbol.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/test_SexpVector.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/test_SexpVectorNumeric.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/constants.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/conversion.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/environments.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/functions.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/help.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/language.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/methods.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/numpy2ri.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/packages.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/packages_utils.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/pandas2ri.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/robject.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/vectors.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testArray.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testDataFrame.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testEnvironment.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testFormula.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testFunction.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testHelp.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testLanguage.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testMethods.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testNumpyConversions.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testPackages.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testPandasConversions.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testRObject.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testRobjects.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testVector.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
  copying ./rpy/robjects/lib/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
  copying ./rpy/robjects/lib/dbplyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
  copying ./rpy/robjects/lib/dplyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
  copying ./rpy/robjects/lib/ggplot2.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
  copying ./rpy/robjects/lib/grdevices.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
  copying ./rpy/robjects/lib/grid.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
  copying ./rpy/robjects/lib/test_dplyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
  copying ./rpy/robjects/lib/tidyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
  copying ./rpy/robjects/lib/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
  copying ./rpy/robjects/lib/tests/test_dplyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
  copying ./rpy/robjects/lib/tests/test_ggplot2.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
  copying ./rpy/robjects/lib/tests/test_grdevices.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive
  copying ./rpy/interactive/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive
  copying ./rpy/interactive/packages.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive
  copying ./rpy/interactive/process_revents.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive/tests
  copying ./rpy/interactive/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive/tests
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
  copying ./rpy/ipython/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
  copying ./rpy/ipython/ggplot.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
  copying ./rpy/ipython/html.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
  copying ./rpy/ipython/rmagic.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython/tests
  copying ./rpy/ipython/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython/tests
  copying ./rpy/ipython/tests/test_rmagic.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython/tests
  running build_clib
  building 'r_utils' library
  creating build/temp.macosx-10.9-x86_64-3.6
  creating build/temp.macosx-10.9-x86_64-3.6/rpy
  creating build/temp.macosx-10.9-x86_64-3.6/rpy/rinterface
  /usr/bin/clang -Wno-unused-result -Wsign-compare -Wunreachable-code -DNDEBUG -fwrapv -O2 -Wall -Wstrict-prototypes -march=core2 -mtune=haswell -mssse3 -ftree-vectorize -fPIC -fPIE -fstack-protector-strong -O2 -pipe -march=core2 -mtune=haswell -mssse3 -ftree-vectorize -fPIC -fPIE -fstack-protector-strong -O2 -pipe -I./rpy/rinterface -I/Library/Frameworks/R.framework/Resources/include -c ./rpy/rinterface/r_utils.c -o build/temp.macosx-10.9-x86_64-3.6/./rpy/rinterface/r_utils.o
  In file included from ./rpy/rinterface/r_utils.c:24:
  In file included from /Library/Frameworks/R.framework/Resources/include/Rdefines.h:36:
  /Library/Frameworks/R.framework/Resources/include/R_ext/Memory.h:48:17: warning: this function declaration is not a prototype [-Wstrict-prototypes]
  int     R_gc_running();
                      ^
                       void
  In file included from ./rpy/rinterface/r_utils.c:24:
  In file included from /Library/Frameworks/R.framework/Resources/include/Rdefines.h:40:
  In file included from /Library/Frameworks/R.framework/Resources/include/Rinternals.h:51:
  /Library/Frameworks/R.framework/Resources/include/R_ext/Rdynload.h:38:26: warning: this function declaration is not a prototype [-Wstrict-prototypes]
  typedef void * (*DL_FUNC)();
                           ^
                            void
  In file included from ./rpy/rinterface/r_utils.c:24:
  In file included from /Library/Frameworks/R.framework/Resources/include/Rdefines.h:40:
  /Library/Frameworks/R.framework/Resources/include/Rinternals.h:919:26: warning: this function declaration is not a prototype [-Wstrict-prototypes]
  const char *R_curErrorBuf();
                           ^
                            void
  3 warnings generated.
  x86_64-apple-darwin13.4.0-ar rc build/temp.macosx-10.9-x86_64-3.6/libr_utils.a build/temp.macosx-10.9-x86_64-3.6/./rpy/rinterface/r_utils.o
  unable to execute 'x86_64-apple-darwin13.4.0-ar': No such file or directory
  error: command 'x86_64-apple-darwin13.4.0-ar' failed with exit status 1

  ----------------------------------------
  Failed building wheel for rpy2
  Running setup.py clean for rpy2

Failed to build rpy2
Installing collected packages: rpy2, tzlocal
  Running setup.py install for rpy2 ... error
    Complete output from command /Users/tr8934qw/anaconda3/bin/python -u -c "import setuptools, tokenize;__file__='/private/var/folders/cd/njt6v_ms2t3369_txgx7d6jsjpp78v/T/pip-install-ixa6_p7x/rpy2/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /private/var/folders/cd/njt6v_ms2t3369_txgx7d6jsjpp78v/T/pip-record-dc0inw7c/install-record.txt --single-version-externally-managed --compile:
    R version 3.4.1 (2017-06-30) -- "Single Candle"
    /Library/Frameworks/R.framework/Resources/bin/R CMD config --ldflags
    /Library/Frameworks/R.framework/Resources/bin/R CMD config --cppflags

        Compilation parameters for rpy2's C components:
            include_dirs    = ['/Library/Frameworks/R.framework/Resources/include']
            library_dirs    = ['/usr/local/lib']
            libraries       = ['pcre', 'lzma', 'bz2', 'z', 'icucore', 'm', 'iconv']
            extra_link_args = ['-fopenmp', '-F/Library/Frameworks/R.framework/..', '-framework', 'R']

    running install
    running build
    running build_py
    creating build
    creating build/lib.macosx-10.9-x86_64-3.6
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2
    copying ./rpy/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
    copying ./rpy/rpy_classic.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
    copying ./rpy/situation.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
    copying ./rpy/tests.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
    copying ./rpy/tests_rpy_classic.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
    copying ./rpy/rlike/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
    copying ./rpy/rlike/container.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
    copying ./rpy/rlike/functional.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
    copying ./rpy/rlike/indexing.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
    copying ./rpy/rlike/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
    copying ./rpy/rlike/tests/test_container.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
    copying ./rpy/rlike/tests/test_functional.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
    copying ./rpy/rlike/tests/test_indexing.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface
    copying ./rpy/rinterface/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/test_Device.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/test_EmbeddedR.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/test_Sexp.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/test_SexpClosure.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/test_SexpEnvironment.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/test_SexpExtPtr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/test_SexpSymbol.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/test_SexpVector.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/test_SexpVectorNumeric.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/constants.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/conversion.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/environments.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/functions.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/help.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/language.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/methods.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/numpy2ri.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/packages.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/packages_utils.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/pandas2ri.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/robject.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/vectors.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testArray.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testDataFrame.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testEnvironment.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testFormula.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testFunction.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testHelp.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testLanguage.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testMethods.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testNumpyConversions.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testPackages.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testPandasConversions.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testRObject.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testRobjects.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testVector.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
    copying ./rpy/robjects/lib/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
    copying ./rpy/robjects/lib/dbplyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
    copying ./rpy/robjects/lib/dplyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
    copying ./rpy/robjects/lib/ggplot2.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
    copying ./rpy/robjects/lib/grdevices.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
    copying ./rpy/robjects/lib/grid.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
    copying ./rpy/robjects/lib/test_dplyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
    copying ./rpy/robjects/lib/tidyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
    copying ./rpy/robjects/lib/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
    copying ./rpy/robjects/lib/tests/test_dplyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
    copying ./rpy/robjects/lib/tests/test_ggplot2.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
    copying ./rpy/robjects/lib/tests/test_grdevices.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive
    copying ./rpy/interactive/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive
    copying ./rpy/interactive/packages.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive
    copying ./rpy/interactive/process_revents.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive/tests
    copying ./rpy/interactive/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive/tests
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
    copying ./rpy/ipython/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
    copying ./rpy/ipython/ggplot.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
    copying ./rpy/ipython/html.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
    copying ./rpy/ipython/rmagic.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython/tests
    copying ./rpy/ipython/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython/tests
    copying ./rpy/ipython/tests/test_rmagic.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython/tests
    running build_clib
    building 'r_utils' library
    creating build/temp.macosx-10.9-x86_64-3.6
    creating build/temp.macosx-10.9-x86_64-3.6/rpy
    creating build/temp.macosx-10.9-x86_64-3.6/rpy/rinterface
    /usr/bin/clang -Wno-unused-result -Wsign-compare -Wunreachable-code -DNDEBUG -fwrapv -O2 -Wall -Wstrict-prototypes -march=core2 -mtune=haswell -mssse3 -ftree-vectorize -fPIC -fPIE -fstack-protector-strong -O2 -pipe -march=core2 -mtune=haswell -mssse3 -ftree-vectorize -fPIC -fPIE -fstack-protector-strong -O2 -pipe -I./rpy/rinterface -I/Library/Frameworks/R.framework/Resources/include -c ./rpy/rinterface/r_utils.c -o build/temp.macosx-10.9-x86_64-3.6/./rpy/rinterface/r_utils.o
    In file included from ./rpy/rinterface/r_utils.c:24:
    In file included from /Library/Frameworks/R.framework/Resources/include/Rdefines.h:36:
    /Library/Frameworks/R.framework/Resources/include/R_ext/Memory.h:48:17: warning: this function declaration is not a prototype [-Wstrict-prototypes]
    int     R_gc_running();
                        ^
                         void
    In file included from ./rpy/rinterface/r_utils.c:24:
    In file included from /Library/Frameworks/R.framework/Resources/include/Rdefines.h:40:
    In file included from /Library/Frameworks/R.framework/Resources/include/Rinternals.h:51:
    /Library/Frameworks/R.framework/Resources/include/R_ext/Rdynload.h:38:26: warning: this function declaration is not a prototype [-Wstrict-prototypes]
    typedef void * (*DL_FUNC)();
                             ^
                              void
    In file included from ./rpy/rinterface/r_utils.c:24:
    In file included from /Library/Frameworks/R.framework/Resources/include/Rdefines.h:40:
    /Library/Frameworks/R.framework/Resources/include/Rinternals.h:919:26: warning: this function declaration is not a prototype [-Wstrict-prototypes]
    const char *R_curErrorBuf();
                             ^
                              void
    3 warnings generated.
    x86_64-apple-darwin13.4.0-ar rc build/temp.macosx-10.9-x86_64-3.6/libr_utils.a build/temp.macosx-10.9-x86_64-3.6/./rpy/rinterface/r_utils.o
    unable to execute 'x86_64-apple-darwin13.4.0-ar': No such file or directory
    error: command 'x86_64-apple-darwin13.4.0-ar' failed with exit status 1

    ----------------------------------------

Command "/Users/tr8934qw/anaconda3/bin/python -u -c "import setuptools, tokenize;__file__='/private/var/folders/cd/njt6v_ms2t3369_txgx7d6jsjpp78v/T/pip-install-ixa6_p7x/rpy2/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /private/var/folders/cd/njt6v_ms2t3369_txgx7d6jsjpp78v/T/pip-record-dc0inw7c/install-record.txt --single-version-externally-managed --compile" failed with error code 1 in /private/var/folders/cd/njt6v_ms2t3369_txgx7d6jsjpp78v/T/pip-install-ixa6_p7x/rpy2/

In [17]:
import rpy2
%load_ext rpy2.ipython

Collecting rpy2
  Using cached https://files.pythonhosted.org/packages/02/d1/074ffbbe7b4bf74c60b75d74c8e67a1e4515b0d85f85cd6540e39610754a/rpy2-2.9.5.tar.gz
Collecting tzlocal
Requirement already satisfied: six in /Users/tr8934qw/anaconda3/lib/python3.6/site-packages (from rpy2) (1.10.0)
Requirement already satisfied: jinja2 in /Users/tr8934qw/anaconda3/lib/python3.6/site-packages (from rpy2) (2.9.6)
Requirement already satisfied: pytz in /Users/tr8934qw/anaconda3/lib/python3.6/site-packages (from tzlocal) (2017.2)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/tr8934qw/anaconda3/lib/python3.6/site-packages (from jinja2->rpy2) (1.0)
Building wheels for collected packages: rpy2
  Building wheel for rpy2 (setup.py) ... error
  Complete output from command /Users/tr8934qw/anaconda3/bin/python -u -c "import setuptools, tokenize;__file__='/private/var/folders/cd/njt6v_ms2t3369_txgx7d6jsjpp78v/T/pip-install-c6elagol/rpy2/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" bdist_wheel -d /private/var/folders/cd/njt6v_ms2t3369_txgx7d6jsjpp78v/T/pip-wheel-5m9oid82 --python-tag cp36:
  R version 3.4.1 (2017-06-30) -- "Single Candle"
  /Library/Frameworks/R.framework/Resources/bin/R CMD config --ldflags
  /Library/Frameworks/R.framework/Resources/bin/R CMD config --cppflags

      Compilation parameters for rpy2's C components:
          include_dirs    = ['/Library/Frameworks/R.framework/Resources/include']
          library_dirs    = ['/usr/local/lib']
          libraries       = ['pcre', 'lzma', 'bz2', 'z', 'icucore', 'm', 'iconv']
          extra_link_args = ['-fopenmp', '-F/Library/Frameworks/R.framework/..', '-framework', 'R']

  running bdist_wheel
  running build
  running build_py
  creating build
  creating build/lib.macosx-10.9-x86_64-3.6
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2
  copying ./rpy/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
  copying ./rpy/rpy_classic.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
  copying ./rpy/situation.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
  copying ./rpy/tests.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
  copying ./rpy/tests_rpy_classic.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
  copying ./rpy/rlike/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
  copying ./rpy/rlike/container.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
  copying ./rpy/rlike/functional.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
  copying ./rpy/rlike/indexing.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
  copying ./rpy/rlike/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
  copying ./rpy/rlike/tests/test_container.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
  copying ./rpy/rlike/tests/test_functional.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
  copying ./rpy/rlike/tests/test_indexing.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface
  copying ./rpy/rinterface/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/test_Device.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/test_EmbeddedR.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/test_Sexp.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/test_SexpClosure.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/test_SexpEnvironment.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/test_SexpExtPtr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/test_SexpSymbol.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/test_SexpVector.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  copying ./rpy/rinterface/tests/test_SexpVectorNumeric.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/constants.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/conversion.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/environments.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/functions.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/help.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/language.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/methods.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/numpy2ri.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/packages.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/packages_utils.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/pandas2ri.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/robject.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  copying ./rpy/robjects/vectors.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testArray.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testDataFrame.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testEnvironment.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testFormula.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testFunction.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testHelp.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testLanguage.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testMethods.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testNumpyConversions.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testPackages.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testPandasConversions.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testRObject.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testRobjects.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  copying ./rpy/robjects/tests/testVector.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
  copying ./rpy/robjects/lib/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
  copying ./rpy/robjects/lib/dbplyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
  copying ./rpy/robjects/lib/dplyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
  copying ./rpy/robjects/lib/ggplot2.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
  copying ./rpy/robjects/lib/grdevices.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
  copying ./rpy/robjects/lib/grid.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
  copying ./rpy/robjects/lib/test_dplyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
  copying ./rpy/robjects/lib/tidyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
  copying ./rpy/robjects/lib/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
  copying ./rpy/robjects/lib/tests/test_dplyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
  copying ./rpy/robjects/lib/tests/test_ggplot2.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
  copying ./rpy/robjects/lib/tests/test_grdevices.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive
  copying ./rpy/interactive/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive
  copying ./rpy/interactive/packages.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive
  copying ./rpy/interactive/process_revents.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive/tests
  copying ./rpy/interactive/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive/tests
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
  copying ./rpy/ipython/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
  copying ./rpy/ipython/ggplot.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
  copying ./rpy/ipython/html.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
  copying ./rpy/ipython/rmagic.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
  creating build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython/tests
  copying ./rpy/ipython/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython/tests
  copying ./rpy/ipython/tests/test_rmagic.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython/tests
  running build_clib
  building 'r_utils' library
  creating build/temp.macosx-10.9-x86_64-3.6
  creating build/temp.macosx-10.9-x86_64-3.6/rpy
  creating build/temp.macosx-10.9-x86_64-3.6/rpy/rinterface
  /usr/bin/clang -Wno-unused-result -Wsign-compare -Wunreachable-code -DNDEBUG -fwrapv -O2 -Wall -Wstrict-prototypes -march=core2 -mtune=haswell -mssse3 -ftree-vectorize -fPIC -fPIE -fstack-protector-strong -O2 -pipe -march=core2 -mtune=haswell -mssse3 -ftree-vectorize -fPIC -fPIE -fstack-protector-strong -O2 -pipe -I./rpy/rinterface -I/Library/Frameworks/R.framework/Resources/include -c ./rpy/rinterface/r_utils.c -o build/temp.macosx-10.9-x86_64-3.6/./rpy/rinterface/r_utils.o
  In file included from ./rpy/rinterface/r_utils.c:24:
  In file included from /Library/Frameworks/R.framework/Resources/include/Rdefines.h:36:
  /Library/Frameworks/R.framework/Resources/include/R_ext/Memory.h:48:17: warning: this function declaration is not a prototype [-Wstrict-prototypes]
  int     R_gc_running();
                      ^
                       void
  In file included from ./rpy/rinterface/r_utils.c:24:
  In file included from /Library/Frameworks/R.framework/Resources/include/Rdefines.h:40:
  In file included from /Library/Frameworks/R.framework/Resources/include/Rinternals.h:51:
  /Library/Frameworks/R.framework/Resources/include/R_ext/Rdynload.h:38:26: warning: this function declaration is not a prototype [-Wstrict-prototypes]
  typedef void * (*DL_FUNC)();
                           ^
                            void
  In file included from ./rpy/rinterface/r_utils.c:24:
  In file included from /Library/Frameworks/R.framework/Resources/include/Rdefines.h:40:
  /Library/Frameworks/R.framework/Resources/include/Rinternals.h:919:26: warning: this function declaration is not a prototype [-Wstrict-prototypes]
  const char *R_curErrorBuf();
                           ^
                            void
  3 warnings generated.
  x86_64-apple-darwin13.4.0-ar rc build/temp.macosx-10.9-x86_64-3.6/libr_utils.a build/temp.macosx-10.9-x86_64-3.6/./rpy/rinterface/r_utils.o
  unable to execute 'x86_64-apple-darwin13.4.0-ar': No such file or directory
  error: command 'x86_64-apple-darwin13.4.0-ar' failed with exit status 1

  ----------------------------------------
  Failed building wheel for rpy2
  Running setup.py clean for rpy2

Failed to build rpy2
Installing collected packages: rpy2, tzlocal
  Running setup.py install for rpy2 ... error
    Complete output from command /Users/tr8934qw/anaconda3/bin/python -u -c "import setuptools, tokenize;__file__='/private/var/folders/cd/njt6v_ms2t3369_txgx7d6jsjpp78v/T/pip-install-c6elagol/rpy2/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /private/var/folders/cd/njt6v_ms2t3369_txgx7d6jsjpp78v/T/pip-record-xkgxzoed/install-record.txt --single-version-externally-managed --compile:
    R version 3.4.1 (2017-06-30) -- "Single Candle"
    /Library/Frameworks/R.framework/Resources/bin/R CMD config --ldflags
    /Library/Frameworks/R.framework/Resources/bin/R CMD config --cppflags

        Compilation parameters for rpy2's C components:
            include_dirs    = ['/Library/Frameworks/R.framework/Resources/include']
            library_dirs    = ['/usr/local/lib']
            libraries       = ['pcre', 'lzma', 'bz2', 'z', 'icucore', 'm', 'iconv']
            extra_link_args = ['-fopenmp', '-F/Library/Frameworks/R.framework/..', '-framework', 'R']

    running install
    running build
    running build_py
    creating build
    creating build/lib.macosx-10.9-x86_64-3.6
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2
    copying ./rpy/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
    copying ./rpy/rpy_classic.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
    copying ./rpy/situation.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
    copying ./rpy/tests.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
    copying ./rpy/tests_rpy_classic.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
    copying ./rpy/rlike/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
    copying ./rpy/rlike/container.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
    copying ./rpy/rlike/functional.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
    copying ./rpy/rlike/indexing.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
    copying ./rpy/rlike/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
    copying ./rpy/rlike/tests/test_container.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
    copying ./rpy/rlike/tests/test_functional.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
    copying ./rpy/rlike/tests/test_indexing.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rlike/tests
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface
    copying ./rpy/rinterface/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/test_Device.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/test_EmbeddedR.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/test_Sexp.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/test_SexpClosure.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/test_SexpEnvironment.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/test_SexpExtPtr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/test_SexpSymbol.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/test_SexpVector.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    copying ./rpy/rinterface/tests/test_SexpVectorNumeric.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/rinterface/tests
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/constants.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/conversion.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/environments.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/functions.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/help.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/language.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/methods.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/numpy2ri.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/packages.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/packages_utils.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/pandas2ri.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/robject.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    copying ./rpy/robjects/vectors.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testArray.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testDataFrame.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testEnvironment.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testFormula.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testFunction.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testHelp.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testLanguage.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testMethods.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testNumpyConversions.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testPackages.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testPandasConversions.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testRObject.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testRobjects.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    copying ./rpy/robjects/tests/testVector.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/tests
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
    copying ./rpy/robjects/lib/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
    copying ./rpy/robjects/lib/dbplyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
    copying ./rpy/robjects/lib/dplyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
    copying ./rpy/robjects/lib/ggplot2.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
    copying ./rpy/robjects/lib/grdevices.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
    copying ./rpy/robjects/lib/grid.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
    copying ./rpy/robjects/lib/test_dplyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
    copying ./rpy/robjects/lib/tidyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
    copying ./rpy/robjects/lib/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
    copying ./rpy/robjects/lib/tests/test_dplyr.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
    copying ./rpy/robjects/lib/tests/test_ggplot2.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
    copying ./rpy/robjects/lib/tests/test_grdevices.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/robjects/lib/tests
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive
    copying ./rpy/interactive/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive
    copying ./rpy/interactive/packages.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive
    copying ./rpy/interactive/process_revents.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive/tests
    copying ./rpy/interactive/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/interactive/tests
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
    copying ./rpy/ipython/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
    copying ./rpy/ipython/ggplot.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
    copying ./rpy/ipython/html.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
    copying ./rpy/ipython/rmagic.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython
    creating build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython/tests
    copying ./rpy/ipython/tests/__init__.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython/tests
    copying ./rpy/ipython/tests/test_rmagic.py -> build/lib.macosx-10.9-x86_64-3.6/rpy2/ipython/tests
    running build_clib
    building 'r_utils' library
    creating build/temp.macosx-10.9-x86_64-3.6
    creating build/temp.macosx-10.9-x86_64-3.6/rpy
    creating build/temp.macosx-10.9-x86_64-3.6/rpy/rinterface
    /usr/bin/clang -Wno-unused-result -Wsign-compare -Wunreachable-code -DNDEBUG -fwrapv -O2 -Wall -Wstrict-prototypes -march=core2 -mtune=haswell -mssse3 -ftree-vectorize -fPIC -fPIE -fstack-protector-strong -O2 -pipe -march=core2 -mtune=haswell -mssse3 -ftree-vectorize -fPIC -fPIE -fstack-protector-strong -O2 -pipe -I./rpy/rinterface -I/Library/Frameworks/R.framework/Resources/include -c ./rpy/rinterface/r_utils.c -o build/temp.macosx-10.9-x86_64-3.6/./rpy/rinterface/r_utils.o
    In file included from ./rpy/rinterface/r_utils.c:24:
    In file included from /Library/Frameworks/R.framework/Resources/include/Rdefines.h:36:
    /Library/Frameworks/R.framework/Resources/include/R_ext/Memory.h:48:17: warning: this function declaration is not a prototype [-Wstrict-prototypes]
    int     R_gc_running();
                        ^
                         void
    In file included from ./rpy/rinterface/r_utils.c:24:
    In file included from /Library/Frameworks/R.framework/Resources/include/Rdefines.h:40:
    In file included from /Library/Frameworks/R.framework/Resources/include/Rinternals.h:51:
    /Library/Frameworks/R.framework/Resources/include/R_ext/Rdynload.h:38:26: warning: this function declaration is not a prototype [-Wstrict-prototypes]
    typedef void * (*DL_FUNC)();
                             ^
                              void
    In file included from ./rpy/rinterface/r_utils.c:24:
    In file included from /Library/Frameworks/R.framework/Resources/include/Rdefines.h:40:
    /Library/Frameworks/R.framework/Resources/include/Rinternals.h:919:26: warning: this function declaration is not a prototype [-Wstrict-prototypes]
    const char *R_curErrorBuf();
                             ^
                              void
    3 warnings generated.
    x86_64-apple-darwin13.4.0-ar rc build/temp.macosx-10.9-x86_64-3.6/libr_utils.a build/temp.macosx-10.9-x86_64-3.6/./rpy/rinterface/r_utils.o
    unable to execute 'x86_64-apple-darwin13.4.0-ar': No such file or directory
    error: command 'x86_64-apple-darwin13.4.0-ar' failed with exit status 1

    ----------------------------------------
Command "/Users/tr8934qw/anaconda3/bin/python -u -c "import setuptools, tokenize;__file__='/private/var/folders/cd/njt6v_ms2t3369_txgx7d6jsjpp78v/T/pip-install-c6elagol/rpy2/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /private/var/folders/cd/njt6v_ms2t3369_txgx7d6jsjpp78v/T/pip-record-xkgxzoed/install-record.txt --single-version-externally-managed --compile" failed with error code 1 in /private/var/folders/cd/njt6v_ms2t3369_txgx7d6jsjpp78v/T/pip-install-c6elagol/rpy2/

ModuleNotFoundError: No module named 'rpy2'

In [18]:
import warnings
warnings.filterwarnings('ignore')

In [19]:
%%R
rnorm(5, 2, 3)

ERROR:root:Cell magic `%%R` not found.

## We love dplyr!

In [5]:
%%R 
library(dplyr)
artists <- read.csv('./data/Artists.csv')

(artists %>%
  select(BeginDate, 
         DisplayName, 
         Nationality) %>%
  filter(BeginDate > 0) %>%
  head) -> output
output

ERROR:root:Cell magic `%%R` not found.

## What makes `dplyr` so great?

* Focus on data verbs
* Pipes lead to code that is
    * More readable
    * Easy to compose and debug

## Set up

Let's read in a data set in each of the three frameworks

#### `pandas` and `dfply`

In [38]:
import pandas as pd
from dfply import *
heroes = pd.read_csv('./data/heroes_information.csv')

#### `sqlalchemy`

In [39]:
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, func
from sqlalchemy.ext.automap import automap_base

engine = create_engine("sqlite:///databases/heroes_2_1.db")

Base = automap_base()
Base.prepare(engine, reflect=True)
Hero = Base.classes.heroes

Session = sessionmaker(bind=engine)
session = Session()

#### `pyspark`

In [40]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, mean

spark1 = SparkSession.builder.appName('Ops').getOrCreate()
df_spark = spark1.read.csv('data/heroes_information.csv', inferSchema=True, header=True)

## Selecting Columns

The first verb, `select` 

* filters the *columns*
* At the core of `SQL` statements

## How to select

* `pandas`: pipe (`>>`) into `select`
* `sqlalchemy`: Use `session.query`
* `pyspark`: Use the `select` method

#### `select` in `pandas` + `dfply`

In [41]:
from dfply import select as select_dfply
(heroes >>
   select_dfply(X.name, 
                X.Gender, 
                X.Weight) >>
   head
)

          name Gender  Weight
0       A-Bomb   Male   441.0
1   Abe Sapien   Male    65.0
2     Abin Sur   Male    90.0
3  Abomination   Male   441.0
4      Abraxas   Male   -99.0

#### `select` expression in `sqlalchemy`

In [42]:
from sqlalchemy import select as select_sql
stmt = (select_sql([Hero.name, Hero.gender, Hero.weight]).
          select_from(Hero).
          limit(5))
print(stmt)

SELECT heroes.name, heroes.gender, heroes.weight
FROM heroes
 LIMIT :param_1

In [43]:
session.execute(stmt).fetchall()

[('A-Bomb', 'Male', 441.0),
 ('Abe Sapien', 'Male', 65.0),
 ('Abin Sur', 'Male', 90.0),
 ('Abomination', 'Male', 441.0),
 ('Abraxas', 'Male', None)]

#### Convert the result to a `pandas.DataFrame`

In [44]:
pd.read_sql_query(stmt, con=engine)

          name gender  weight
0       A-Bomb   Male   441.0
1   Abe Sapien   Male    65.0
2     Abin Sur   Male    90.0
3  Abomination   Male   441.0
4      Abraxas   Male     NaN

#### `select` in `pyspark`

In [45]:
(df_spark.
    select(df_spark.name, 
           df_spark.Gender, 
           df_spark.Weight).
    take(5))

[Row(name='A-Bomb', Gender='Male', Weight=441.0),
 Row(name='Abe Sapien', Gender='Male', Weight=65.0),
 Row(name='Abin Sur', Gender='Male', Weight=90.0),
 Row(name='Abomination', Gender='Male', Weight=441.0),
 Row(name='Abraxas', Gender='Male', Weight=-99.0)]

#### Convert the result to a `pandas.DataFrame`

In [67]:
result = (df_spark.
            select(df_spark.name, 
                   df_spark.Gender, 
                   df_spark.Weight).
            take(5))

In [72]:
result >> to_pandas

  Gender  Weight         name
0   Male   441.0       A-Bomb
1   Male    65.0   Abe Sapien
2   Male    90.0     Abin Sur
3   Male   441.0  Abomination
4   Male   -99.0      Abraxas

In [47]:
spark1.createDataFrame(result).toPandas()

IllegalArgumentException: 'Unsupported class file major version 55'

## Filtering Rows

The next verb, `filter` 

* filters the *rows*
* is related to the `SQL` `WHERE` clause

## How to filter

* `pandas`: pipe (`>>`) into `filter_by`
* `sqlalchemy`: Use `session.query.filter` or `session.query.filter_by`
* `pyspark`: Use the `where` method

#### `filter_by` in `pandas` + `dfply`

In [48]:
(heroes >>
  filter_by(X.Gender == 'Male') >>
  head)

,Id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

#### `where` in a `sqlalchemy` `select` expression

In [49]:
# All SQL statements start with a select
f_stmt = (select_sql('*').
           where(Hero.gender == 'Male').
           limit(5))
session.execute(f_stmt).fetchall()

[(0, 'A-Bomb', 'Male', 'yellow', 'Human', 'No Hair', 203.0, 'Marvel Comics', None, 'good', 441.0),
 (1, 'Abe Sapien', 'Male', 'blue', 'Icthyo Sapien', 'No Hair', 191.0, 'Dark Horse Comics', 'blue', 'good', 65.0),
 (2, 'Abin Sur', 'Male', 'blue', 'Ungaran', 'No Hair', 185.0, 'DC Comics', 'red', 'good', 90.0),
 (3, 'Abomination', 'Male', 'green', 'Human / Radiation', 'No Hair', 203.0, 'Marvel Comics', None, 'bad', 441.0),
 (4, 'Abraxas', 'Male', 'blue', 'Cosmic Entity', 'Black', None, 'Marvel Comics', None, 'bad', None)]

#### Convert the result to a `pandas.DataFrame`

In [50]:
pd.read_sql_query(f_stmt, con = engine)

,id,name,gender,eye_color,race,hair_color,height,publisher,skin_color,alignment,weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,None,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,None,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,NaN,Marvel Comics,None,bad,NaN

#### `where` in `pyspark`

In [70]:
f_result = (df_spark.
            where(df_spark.Gender == 'Male').
            take(5))
f_result

[Row(Id=0, name='A-Bomb', Gender='Male', Eye color='yellow', Race='Human', Hair color='No Hair', Height=203.0, Publisher='Marvel Comics', Skin color='-', Alignment='good', Weight=441.0),
 Row(Id=1, name='Abe Sapien', Gender='Male', Eye color='blue', Race='Icthyo Sapien', Hair color='No Hair', Height=191.0, Publisher='Dark Horse Comics', Skin color='blue', Alignment='good', Weight=65.0),
 Row(Id=2, name='Abin Sur', Gender='Male', Eye color='blue', Race='Ungaran', Hair color='No Hair', Height=185.0, Publisher='DC Comics', Skin color='red', Alignment='good', Weight=90.0),
 Row(Id=3, name='Abomination', Gender='Male', Eye color='green', Race='Human / Radiation', Hair color='No Hair', Height=203.0, Publisher='Marvel Comics', Skin color='-', Alignment='bad', Weight=441.0),
 Row(Id=4, name='Abraxas', Gender='Male', Eye color='blue', Race='Cosmic Entity', Hair color='Black', Height=-99.0, Publisher='Marvel Comics', Skin color='-', Alignment='bad', Weight=-99.0)]

In [71]:
f_result >> to_pandas

,Alignment,Eye color,Gender,Hair color,Height,Id,Publisher,Race,Skin color,Weight,name
0,good,yellow,Male,No Hair,203.0,0,Marvel Comics,Human,-,441.0,A-Bomb
1,good,blue,Male,No Hair,191.0,1,Dark Horse Comics,Icthyo Sapien,blue,65.0,Abe Sapien
2,good,blue,Male,No Hair,185.0,2,DC Comics,Ungaran,red,90.0,Abin Sur
3,bad,green,Male,No Hair,203.0,3,Marvel Comics,Human / Radiation,-,441.0,Abomination
4,bad,blue,Male,Black,-99.0,4,Marvel Comics,Cosmic Entity,-,-99.0,Abraxas

In [52]:
spark1.createDataFrame(f_result).toPandas()

IllegalArgumentException: 'Unsupported class file major version 55'

## Chaining Data Verbs

* Processing df $\rightarrow$ chaining data verbs
* Accomplished through pipes/dot-chains

## Example 1 - `select` + `filter`

#### `pandas` + `dfply`

In [53]:
(heroes >>
   filter_by(X.Gender == 'Male') >>
   select_dfply(X.name, X.Gender, X.Weight) >>
   head)

          name Gender  Weight
0       A-Bomb   Male   441.0
1   Abe Sapien   Male    65.0
2     Abin Sur   Male    90.0
3  Abomination   Male   441.0
4      Abraxas   Male   -99.0

#### `select`  expression in `sqlalchemy`

In [54]:
from sqlalchemy import select
# Make an SQL expression
sel_filt_stmt = (select_sql([Hero.name, 
                             Hero.gender, 
                             Hero.weight]).
                   where(Hero.gender == 'Male').
                   limit(5))
# Excute the expression
pd.read_sql_query(sel_filt_stmt, con=engine)

          name gender  weight
0       A-Bomb   Male   441.0
1   Abe Sapien   Male    65.0
2     Abin Sur   Male    90.0
3  Abomination   Male   441.0
4      Abraxas   Male     NaN

####  `pyspark`

In [55]:
sf_result = (df_spark.
            where(df_spark.Gender == 'Male').
            select(df_spark.name, 
                   df_spark.Gender, 
                   df_spark.Weight).
            take(5))
sf_result

[Row(name='A-Bomb', Gender='Male', Weight=441.0),
 Row(name='Abe Sapien', Gender='Male', Weight=65.0),
 Row(name='Abin Sur', Gender='Male', Weight=90.0),
 Row(name='Abomination', Gender='Male', Weight=441.0),
 Row(name='Abraxas', Gender='Male', Weight=-99.0)]

In [69]:
sf_result >> to_pandas

  Gender  Weight         name
0   Male   441.0       A-Bomb
1   Male    65.0   Abe Sapien
2   Male    90.0     Abin Sur
3   Male   441.0  Abomination
4   Male   -99.0      Abraxas

In [56]:
spark1.createDataFrame(sf_result).toPandas()

IllegalArgumentException: 'Unsupported class file major version 55'

## Example 2 - `filter` + `filter`

Note that chaining `filter`s is an `and` operation.

####  `pandas` + `dfply`

In [57]:
(heroes >>
   select_dfply(X.name, X.Gender, X.Weight) >>
   filter_by(X.Gender == 'Male') >>
   filter_by(X.Weight > 0) >>
   head)

            name Gender  Weight
0         A-Bomb   Male   441.0
1     Abe Sapien   Male    65.0
2       Abin Sur   Male    90.0
3    Abomination   Male   441.0
5  Absorbing Man   Male   122.0

#### `select`  expression in `sqlalchemy`

In [58]:
from sqlalchemy import select
# Make an SQL expression
ff_stmt = (select_sql([Hero.name, 
                       Hero.gender, 
                       Hero.weight]).
            where(Hero.gender == 'Male').
            where(Hero.weight > 0).
            limit(5))
# Excute the expression
pd.read_sql_query(ff_stmt, con=engine)

            name gender  weight
0         A-Bomb   Male   441.0
1     Abe Sapien   Male    65.0
2       Abin Sur   Male    90.0
3    Abomination   Male   441.0
4  Absorbing Man   Male   122.0

####  `pyspark`

In [59]:
ff_result = (df_spark.
               select(df_spark.name, 
                      df_spark.Gender, 
                      df_spark.Weight).
               where(df_spark.Gender == 'Male').
               where(df_spark.Weight > 0).
               take(5))

In [60]:
example_row = ff_result[0]
row_dict = [r.asDict() for r in ff_result]
row_dict

[{'Gender': 'Male', 'Weight': 441.0, 'name': 'A-Bomb'},
 {'Gender': 'Male', 'Weight': 65.0, 'name': 'Abe Sapien'},
 {'Gender': 'Male', 'Weight': 90.0, 'name': 'Abin Sur'},
 {'Gender': 'Male', 'Weight': 441.0, 'name': 'Abomination'},
 {'Gender': 'Male', 'Weight': 122.0, 'name': 'Absorbing Man'}]

In [61]:
pd.DataFrame(row_dict)

  Gender  Weight           name
0   Male   441.0         A-Bomb
1   Male    65.0     Abe Sapien
2   Male    90.0       Abin Sur
3   Male   441.0    Abomination
4   Male   122.0  Absorbing Man

In [62]:
from functoolz import pipeable
to_pandas = pipeable(lambda rows: pd.DataFrame([r.asDict() for r in rows]))
ff_result >> to_pandas

  Gender  Weight           name
0   Male   441.0         A-Bomb
1   Male    65.0     Abe Sapien
2   Male    90.0       Abin Sur
3   Male   441.0    Abomination
4   Male   122.0  Absorbing Man

In [63]:
from more_pyspark import to_pandas
ff_result >> to_pandas

  Gender  Weight           name
0   Male   441.0         A-Bomb
1   Male    65.0     Abe Sapien
2   Male    90.0       Abin Sur
3   Male   441.0    Abomination
4   Male   122.0  Absorbing Man

In [64]:
spark1.createDataFrame(ff_result).toPandas()

IllegalArgumentException: 'Unsupported class file major version 55'

## <font color="red"> Exercise 1: Blue-eyed Heroes </font>

Create a query that

1. Selects the name, Gender, and Eye Color columns
2. Filters on eye_color == 'blue'

####  `pandas` + `dfply`

In [76]:

(heroes >>
   select_dfply(X.name, X.Gender, X['Eye color']) >>
   filter_by(X['Eye color'] == 'blue') >>
   head)

            name Gender Eye color
1     Abe Sapien   Male      blue
2       Abin Sur   Male      blue
4        Abraxas   Male      blue
5  Absorbing Man   Male      blue
6    Adam Monroe   Male      blue

#### `query`  in `sqlalchemy`

In [82]:
from sqlalchemy import select as select_sql
# Make an SQL expression
ff_stmt = (select_sql([Hero.name, 
                       Hero.gender, 
                       Hero.eye_color]).
            where(Hero.eye_color == 'blue').
            limit(5))
# Excute the expression
pd.read_sql_query(ff_stmt, con=engine)

            name gender eye_color
0     Abe Sapien   Male      blue
1       Abin Sur   Male      blue
2        Abraxas   Male      blue
3  Absorbing Man   Male      blue
4    Adam Monroe   Male      blue

#### `select`  expression in `sqlalchemy`

####  `pyspark`

In [85]:
ff_result = (df_spark.
               select(df_spark.name, 
                      df_spark.Gender, 
                      df_spark['Eye color']).
               where(df_spark['Eye color'] == 'blue').
               take(5))
ff_result >> to_pandas

  Eye color Gender           name
0      blue   Male     Abe Sapien
1      blue   Male       Abin Sur
2      blue   Male        Abraxas
3      blue   Male  Absorbing Man
4      blue   Male    Adam Monroe

## Constructing New Columns

The third verb, `mutate` 

* Creates new columns
* Changes existing columns

## How to mutate

* `pandas`: pipe (`>>`) into `mutate`
* `sqlalchemy`: Use a formula and alias in `session.query` or `select`
* `pyspark`: Use the `withColumns` method

## Example 3 - Converting Weight to kilograms

Currently, the weight column is in pounds.  Let's convert to kilograms.

####  `pandas` + `dfply`

In [86]:
(heroes >>
   select_dfply(X.name, 
                X.Gender, 
                X.Weight) >>
   mutate(Weight_kg = X.Weight/2.2046) >>
   head)

          name Gender  Weight   Weight_kg
0       A-Bomb   Male   441.0  200.036288
1   Abe Sapien   Male    65.0   29.483807
2     Abin Sur   Male    90.0   40.823732
3  Abomination   Male   441.0  200.036288
4      Abraxas   Male   -99.0  -44.906105

#### `select`  expression in `sqlalchemy`

In [87]:
from sqlalchemy import select
m_stmt = (select_sql([Hero.name, 
                      Hero.gender, 
                      Hero.weight, 
                      (Hero.weight/2.2046).label('Weight_kg')]).
            limit(5))
pd.read_sql_query(m_stmt, con=engine)

          name gender  weight   Weight_kg
0       A-Bomb   Male   441.0  200.036288
1   Abe Sapien   Male    65.0   29.483807
2     Abin Sur   Male    90.0   40.823732
3  Abomination   Male   441.0  200.036288
4      Abraxas   Male     NaN         NaN

####  `pyspark`

In [89]:
m_result = (df_spark.
              select(df_spark.name, 
                     df_spark.Gender, 
                     df_spark.Weight).
              withColumn('Weight_kg', df_spark.Weight/2.2046).
              take(5))
m_result >> to_pandas

  Gender  Weight   Weight_kg         name
0   Male   441.0  200.036288       A-Bomb
1   Male    65.0   29.483807   Abe Sapien
2   Male    90.0   40.823732     Abin Sur
3   Male   441.0  200.036288  Abomination
4   Male   -99.0  -44.906105      Abraxas

## Referencing a new column

Each framework provides a way to reference a new column.

* `pandas` + `dfply`: Use the `X` `Intention`
* `sqlalchemy`: Use `column` function with the label from `select`
* `pyspark`: Use the `col` function with the label from `withColumn`

## Example 4 - Converting Weight to kilograms and filter

Let's find all heroes with a weight under 100kg.

####  `pandas` + `dfply`

In [90]:
(heroes >>
   select_dfply(X.name, X.Gender, X.Weight) >>
   mutate(Weight_kg = X.Weight/2.2046) >>
   filter_by(X.Weight_kg < 100) >>
   head)

            name Gender  Weight  Weight_kg
1     Abe Sapien   Male    65.0  29.483807
2       Abin Sur   Male    90.0  40.823732
4        Abraxas   Male   -99.0 -44.906105
5  Absorbing Man   Male   122.0  55.338837
6    Adam Monroe   Male   -99.0 -44.906105

#### `select`  expression in `sqlalchemy`

In [91]:
from sqlalchemy import column
new_col_stmt = (select_sql([Hero.name, 
                            Hero.gender, 
                            Hero.weight, 
                            (Hero.weight/2.2046).label('Weight_kg')]).
                  where(column('Weight_kg') < 100).
                  limit(5))
pd.read_sql_query(new_col_stmt, con=engine)

            name  gender  weight  Weight_kg
0     Abe Sapien    Male    65.0  29.483807
1       Abin Sur    Male    90.0  40.823732
2  Absorbing Man    Male   122.0  55.338837
3   Adam Strange    Male    88.0  39.916538
4       Agent 13  Female    61.0  27.669418

####  `pyspark`

In [93]:
from pyspark.sql.functions import col
new_col_result = (df_spark.
                   select(df_spark.name, df_spark.Gender, df_spark.Weight).
                   withColumn('Weight_kg', df_spark.Weight/2.2046).
                   where(col('Weight_kg') < 100 ).
                   take(5))
new_col_result >> to_pandas

  Gender  Weight  Weight_kg           name
0   Male    65.0  29.483807     Abe Sapien
1   Male    90.0  40.823732       Abin Sur
2   Male   -99.0 -44.906105        Abraxas
3   Male   122.0  55.338837  Absorbing Man
4   Male   -99.0 -44.906105    Adam Monroe

## <font color="red"> Exercise 2: Tall Heroes </font>

Create a query that

1. Selects the name, Gender, and Height columns
2. Compute the height in inches
3. Filters on height_in > 72

####  `pandas` + `dfply`

In [101]:
(heroes >>
   select_dfply(X.name, X.Gender, X.Height) >>
   mutate(Height_in = X.Height/2.54) >>
   filter_by(X.Height_in > 72) >>
   head)

            name Gender  Height  Height_in
0         A-Bomb   Male   203.0  79.921260
1     Abe Sapien   Male   191.0  75.196850
2       Abin Sur   Male   185.0  72.834646
3    Abomination   Male   203.0  79.921260
5  Absorbing Man   Male   193.0  75.984252

#### `select`  expression in `sqlalchemy`

In [102]:
from sqlalchemy import column
new_col_stmt = (select_sql([Hero.name, 
                            Hero.gender, 
                            Hero.height, 
                            (Hero.height/2.54).label('Height_in')]).
                  where(column('Height_in') > 70).
                  limit(5))
pd.read_sql_query(new_col_stmt, con=engine)

            name gender  height  Height_in
0         A-Bomb   Male   203.0  79.921260
1     Abe Sapien   Male   191.0  75.196850
2       Abin Sur   Male   185.0  72.834646
3    Abomination   Male   203.0  79.921260
4  Absorbing Man   Male   193.0  75.984252

####  `pyspark`

In [103]:
from pyspark.sql.functions import col
new_col_result = (df_spark.
                   select(df_spark.name, df_spark.Gender, df_spark.Height).
                   withColumn('Height_in', df_spark.Height/2.54).
                   where(col('Height_in') > 70 ).
                   take(5))
new_col_result >> to_pandas

  Gender  Height  Height_in           name
0   Male   203.0  79.921260         A-Bomb
1   Male   191.0  75.196850     Abe Sapien
2   Male   185.0  72.834646       Abin Sur
3   Male   203.0  79.921260    Abomination
4   Male   193.0  75.984252  Absorbing Man

# <font color="red"> TODO </font>

* More complicated mutations
    * Add many similar transforms with `**kwarg` unpacking (example below)

In [58]:
# Students will likely come up with a solution like this, we will fix this next
fix_parentheses = lambda df: (df >> 
                             mutate(
                                 ArtistBio = X.ArtistBio.str.replace('[()]', ''),
                                 Nationality = X.Nationality.str.replace('[()]', ''),
                                 BeginDate = X.BeginDate.str.replace('[()]', ''),
                                 EndDate = X.EndDate.str.replace('[()]', ''),
                                 Gender = X.Gender.str.replace('[()]', ''),
                             )
                            )
fix_parentheses(first_chuck).head()

NameError: name 'first_chuck' is not defined