# Joins in `pyspark`

Performed with `df_left.join(df_right, how=type_str)`

In [1]:
from pyspark.sql import SparkSession
from more_pyspark import to_pandas
spark = SparkSession.builder.appName('Ops').getOrCreate()
deptk = spark.read.csv("./data/department.csv",  header=True, inferSchema=True)
deptk.collect() >> to_pandas

   DeptID     DeptName
0      31        Sales
1      33  Engineering
2      34     Clerical
3      35    Marketing

In [2]:
emplk = spark.read.csv("./data/employee.csv",  header=True, inferSchema=True)
emplk.collect() >> to_pandas

   DeptID    LastName
0    31.0    Rafferty
1    33.0       Jones
2    33.0  Heisenberg
3    34.0    Robinson
4    34.0       Smith
5     NaN    Williams

#### Inner join

In [3]:
(emplk.join(deptk, emplk.DeptID == deptk.DeptID, how='inner')
 .collect()) >> to_pandas

   DeptID    LastName     DeptName
0      31    Rafferty        Sales
1      33       Jones  Engineering
2      33  Heisenberg  Engineering
3      34    Robinson     Clerical
4      34       Smith     Clerical

#### Left join

In [5]:
(emplk.join(deptk, emplk.DeptID == deptk.DeptID, how='left')
 .collect()) >> to_pandas

   DeptID    LastName     DeptName
0    31.0    Rafferty        Sales
1    33.0       Jones  Engineering
2    33.0  Heisenberg  Engineering
3    34.0    Robinson     Clerical
4    34.0       Smith     Clerical
5     NaN    Williams         None

#### Right join

In [6]:
(emplk.join(deptk, emplk.DeptID == deptk.DeptID, how='right')
 .collect()) >> to_pandas

   DeptID    LastName     DeptName
0      31    Rafferty        Sales
1      33  Heisenberg  Engineering
2      33       Jones  Engineering
3      34       Smith     Clerical
4      34    Robinson     Clerical
5      35        None    Marketing

#### Outer join

In [ ]:
(emplk.join(deptk, emplk.DeptID == deptk.DeptID, how='outer')
 .collect()) >> to_pandas

## <font color="red"> Exercise 2 </font>

Determine all the players that have hit more than 100 home runs in a season.  The final table should include the players proper name, as well as the team name.  

**Hint:** You will need join the files listed below.  To get credit for this exercise, use the join `pyspark` join methods presented above.

In [ ]:
f1, f2, f3 = ("./data/baseball/core/Batting.csv", 
              "./data/baseball/core/People.csv",
              "./data/baseball/core/Teams.csv")

In [23]:
# Your code here

## Up Next

Stuff