1. compare and contrast changes in water quality over time
2. determine the association between water quality and parcel info for the three categories above
3. how well can we predict water quality with parcel data

In [1]:
from project_data_Buske import final_parcels

In [15]:
final_parcels.head()

   ACRES_DEED  ACRES_POLY  ...                   lat_long rows_to_keep
0         0.0        0.25  ...  ('44.88692', '-93.62034')         True
1         0.0        0.33  ...    ('44.88657', '-93.621')         True
2         0.0        0.46  ...  ('44.88636', '-93.62101')         True
3         0.0        0.37  ...  ('44.88632', '-93.62051')         True
4         0.0        0.28  ...  ('44.88609', '-93.62151')         True

[5 rows x 44 columns]

In [6]:
from project_data_Buske import lakes_by_year

In [7]:
lakes_by_year.shape

(539, 9)

In [8]:
from project_data_Buske import lakes_w_complete_measurement

In [9]:
lakes_w_complete_measurement.shape

(49, 4)