# Lab 10 - Pruning Lakes

Recall that one of the files (starts with `mces`) contains water quality measurements for lakes in the Twin Cities.  In this lab, we will narrow down the list of lakes for which we have at least one of each measurement type (phosphorus and secchi depth) for each year between 2004 and 2015.

## Tasks

Build a query that leads to a list of lake names and codes that fit the following criteria.

1. Only contains years after 2003.
2. Only contains lakes that have at least one non-null measurement of each type in each year.
3. Contains both the lake name and the lake code.


## Suggested workflow

1. filter and mutate as needed.
2. group and aggregate (hint: You will need to do this twice).
3. filter on the number of observations per year (we want 11, one for each year between 2004-2014).

In [17]:
import pandas as pd
from dfply import *

In [23]:
date_cols = ['START_DATE', 'END_DATE']
lakes = pd.read_csv('./data/MinneMUDAC_raw_files/mces_lakes_1999_2014.txt', '\t', parse_dates=date_cols)

/Users/tr8934qw/.pyenv/versions/anaconda3-5.3.1/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (16,19,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [24]:
lakes.head()

,PROJECT_ID,DATA_SET_TITLE,LAKE_NAME,CITY,COUNTY,DNR_ID_Site_Number,MAJOR_WATERSHED,WATER_PLANNING_AUTHORITY,LAKE_SITE_NUMBER,START_DATE,...,Secchi_Depth_RESULT_SIGN,Secchi_Depth_RESULT,Secchi_Depth_QUALIFIER,Secchi_Depth_Units,Total_Phosphorus_RESULT_SIGN,Total_Phosphorus_RESULT,Total_Phosphorus_QUALIFIER,Total_Phosphorus_Units,longitude,latitude
0,7108,Citizen Assisted Monitoring Program (CAMP) for...,Acorn Lake,Oakdale,Washington,82010200-01,Lower St. Croix River,Valley Branch WD,1,2006-04-16,...,NaN,1.00,Approved,m,NaN,0.156,Approved,mg/L,-92.971711,45.016556
1,7108,Citizen Assisted Monitoring Program (CAMP) for...,Acorn Lake,Oakdale,Washington,82010200-01,Lower St. Croix River,Valley Branch WD,1,2006-05-01,...,NaN,NaN,NaN,m,NaN,NaN,NaN,mg/L,-92.971711,45.016556
2,7108,Citizen Assisted Monitoring Program (CAMP) for...,Acorn Lake,Oakdale,Washington,82010200-01,Lower St. Croix River,Valley Branch WD,1,2006-05-02,...,NaN,0.66,Approved,m,NaN,0.107,Approved,mg/L,-92.971711,45.016556
3,7108,Citizen Assisted Monitoring Program (CAMP) for...,Acorn Lake,Oakdale,Washington,82010200-01,Lower St. Croix River,Valley Branch WD,1,2006-05-16,...,NaN,0.66,Approved,m,NaN,0.141,Approved,mg/L,-92.971711,45.016556
4,7108,Citizen Assisted Monitoring Program (CAMP) for...,Acorn Lake,Oakdale,Washington,82010200-01,Lower St. Croix River,Valley Branch WD,1,2006-05-30,...,NaN,0.50,Approved,m,NaN,0.029,Approved,mg/L,-92.971711,45.016556

In [15]:
lakes.columns

Index(['PROJECT_ID', 'DATA_SET_TITLE', 'LAKE_NAME', 'CITY', 'COUNTY',
       'DNR_ID_Site_Number', 'MAJOR_WATERSHED', 'WATER_PLANNING_AUTHORITY',
       'LAKE_SITE_NUMBER', 'START_DATE', 'START_HOURMIN24', 'END_DATE',
       'END_HOURMIN24', 'SAMPLE_DEPTH_IN_METERS', 'Seasonal_Lake_Grade_RESULT',
       'Seasonal_Lake_Grade_QUALIFIER', 'Seasonal_Lake_Grade_Units',
       'Physical_Condition_RESULT', 'Physical_Condition_QUALIFIER',
       'Physical_Condition_Units', 'Recreational_Suitability_RESULT',
       'Recreational_Suitability_QUALIFIER', 'Recreational_Suitability_Units',
       'Secchi_Depth_RESULT_SIGN', 'Secchi_Depth_RESULT',
       'Secchi_Depth_QUALIFIER', 'Secchi_Depth_Units',
       'Total_Phosphorus_RESULT_SIGN', 'Total_Phosphorus_RESULT',
       'Total_Phosphorus_QUALIFIER', 'Total_Phosphorus_Units', 'longitude',
       'latitude'],
      dtype='object')

In [37]:
lakes_w_non_empty_measurements = (lakes 
                                    >> select('LAKE_NAME', 
                                              'DNR_ID_Site_Number', 
                                              'Secchi_Depth_RESULT', 
                                              'Total_Phosphorus_RESULT', 
                                              'START_DATE')
                                    >> filter_by(pd.notna(lakes.Total_Phosphorus_RESULT) & pd.notna(lakes.Secchi_Depth_RESULT))
                                    >> mutate(Year = X.START_DATE.dt.year)
                                    >> drop(X.START_DATE)
                                    >> filter_by(X.Year >=2004)
                                 )

In [38]:
lakes_w_non_empty_measurements.head()

,LAKE_NAME,DNR_ID_Site_Number,Secchi_Depth_RESULT,Total_Phosphorus_RESULT,Year
0,Acorn Lake,82010200-01,1.00,0.156,2006
2,Acorn Lake,82010200-01,0.66,0.107,2006
3,Acorn Lake,82010200-01,0.66,0.141,2006
4,Acorn Lake,82010200-01,0.50,0.029,2006
5,Acorn Lake,82010200-01,0.50,0.058,2006

In [40]:
lakes_w_complete_measurement = (lakes_w_non_empty_measurements 
                                    >> group_by(X.LAKE_NAME, X.DNR_ID_Site_Number, X.Year)
                                    >> summarise(cnt = n(X.Year))
                                    >> ungroup
                                    >> group_by(X.LAKE_NAME, X.DNR_ID_Site_Number)
                                    >> summarise(cnt = n(X.LAKE_NAME))
                                    >> filter_by(X.cnt >=11)
                               )

In [60]:
lakes_w_complete_measurement.shape

(49, 3)

In [61]:
lakes_w_complete_measurement.to_csv('./data/MinneMUDAC_raw_files/lakes_w_complete_measurement.csv')

In [63]:
lakes_w_complete_measurement.LAKE_NAME

2          Alimagnet Lake
6          Armstrong Lake
9               Bass Lake
10           Bavaria Lake
16       Big Comfort Lake
20              Bone Lake
40       Cobblecrest Lake
43             Colby Lake
49           Crystal Lake
50     DeMontreville Lake
56             Eagle Lake
58            Earley Lake
59         East Boot Lake
67           Farquar Lake
70              Fish Lake
71            Forest Lake
77      George Watch Lake
81           Goggins Lake
84             Goose Lake
103             Jane Lake
108           Keller Lake
110           Kismet Lake
111        Klawitter Pond
113               La Lake
114        Lac Lavon Lake
118              Lee Lake
132             Long Lake
137      Lower Prior Lake
144           Marion Lake
145         Markgraf Lake
153         McKusick Lake
163         Mitchell Lake
168        Northwood Lake
173            Olson Lake
175          Orchard Lake
187        Pine Tree Lake
191           Powers Lake
194    Regional Park Lake
195            Reitz Lake
199            Riley Lake
226          St. Joe Lake
233           Sunset Lake
236            Swede Lake
237          Sweeney Lake
244             Twin Lake
247           Valley Lake
254         Westwood Lake
257           Wilmes Lake
261             Wood Lake
Name: LAKE_NAME, dtype: object

In [43]:
lakes_w_complete_measurement.head()

   DNR_ID_Site_Number         LAKE_NAME  cnt
2         19002100-01    Alimagnet Lake   11
6         82011602-01    Armstrong Lake   11
9         82012300-01         Bass Lake   11
10        10001900-01      Bavaria Lake   11
16        13005300-01  Big Comfort Lake   11

In [52]:
lakes_by_year = (lakes_w_non_empty_measurements
                 >> filter_by(X.DNR_ID_Site_Number.isin(lakes_w_complete_measurement.DNR_ID_Site_Number))
                 >> group_by(X.DNR_ID_Site_Number, X.LAKE_NAME, X.Year)
                 >> summarise(mean_phos = X.Total_Phosphorus_RESULT.mean(),
                              med_phos = X.Total_Phosphorus_RESULT.median(),
                              sd_phos = X.Total_Phosphorus_RESULT.std(),
                              mean_secchi = X.Secchi_Depth_RESULT.mean(),
                              med_secchi = X.Secchi_Depth_RESULT.median(),
                              sd_secchi = X.Secchi_Depth_RESULT.std()
                             )
                 >> head
            )
lakes_by_year

,Year,LAKE_NAME,DNR_ID_Site_Number,mean_phos,med_phos,sd_phos,mean_secchi,med_secchi,sd_secchi
0,2004,George Watch Lake,02000500-01,0.199000,0.1440,0.127817,0.705000,0.875,0.363967
1,2005,George Watch Lake,02000500-01,0.210083,0.1465,0.166585,0.681667,0.690,0.402759
2,2006,George Watch Lake,02000500-01,0.164286,0.1750,0.077940,0.728571,0.700,0.292770
3,2007,George Watch Lake,02000500-01,0.203714,0.0990,0.179936,0.562857,0.500,0.352927
4,2008,George Watch Lake,02000500-01,0.148833,0.1335,0.074505,0.550000,0.500,0.236797
5,2009,George Watch Lake,02000500-01,0.105600,0.0960,0.047343,0.538000,0.600,0.153970
6,2010,George Watch Lake,02000500-01,0.173000,0.1700,0.077680,0.493333,0.550,0.247083
7,2011,George Watch Lake,02000500-01,0.119417,0.1115,0.050024,0.973333,1.030,0.295737
8,2012,George Watch Lake,02000500-01,0.264900,0.2120,0.155748,0.359000,0.260,0.235440
9,2013,George Watch Lake,02000500-01,0.310500,0.2845,0.225538,0.365000,0.225,0.372492
10,2014,George Watch Lake,02000500-01,0.108778,0.1060,0.039035,0.716667,0.730,0.258118
11,2004,Riley Lake,10000200-01,0.046714,0.0380,0.029968,2.364286,1.350,1.826138
12,2005,Riley Lake,10000200-01,0.051643,0.0405,0.026093,2.050000,1.500,1.678713
13,2006,Riley Lake,10000200-01,0.060400,0.0450,0.034059,2.290000,1.850,1.483577
14,2007,Riley Lake,10000200-01,0.031667,0.0270,0.012362,1.806667,1.800,0.460538
15,2008,Riley Lake,10000200-01,0.035250,0.0340,0.017147,1.841667,1.650,0.548483
16,2009,Riley Lake,10000200-01,0.047071,0.0370,0.026682,1.935714,1.700,0.629538
17,2010,Riley Lake,10000200-01,0.037692,0.0340,0.014338,1.669231,1.200,0.877862
18,2011,Riley Lake,10000200-01,0.050273,0.0340,0.030945,2.763636,2.300,2.320893
19,2012,Riley Lake,10000200-01,0.061857,0.0445,0.056496,2.207143,1.600,1.677207
20,2013,Riley Lake,10000200-01,0.034727,0.0350,0.011816,1.472727,1.300,0.645122
21,2014,Riley Lake,10000200-01,0.040462,0.0330,0.020835,1.953846,1.800,0.860828
22,2004,St. Joe Lake,10001100-01,0.024824,0.0240,0.009098,2.629412,2.600,0.689896
23,2005,St. Joe Lake,10001100-01,0.017250,0.0170,0.002816,3.102500,2.910,0.953816
24,2006,St. Joe Lake,10001100-01,0.038889,0.0260,0.027269,2.655556,2.700,0.403457
25,2007,St. Joe Lake,10001100-01,0.022556,0.0260,0.008278,3.344444,3.500,0.425327
26,2008,St. Joe Lake,10001100-01,0.019000,0.0190,0.002619,2.781250,2.550,0.890400
27,2009,St. Joe Lake,10001100-01,0.038000,0.0200,0.047686,3.300000,3.300,0.458258
28,2010,St. Joe Lake,10001100-01,0.022286,0.0240,0.006047,2.150000,1.900,0.740495
29,2011,St. Joe Lake,10001100-01,0.022111,0.0210,0.005968,2.377778,2.100,0.752957
...,...,...,...,...,...,...,...,...,...
509,2007,Forest Lake,82015900-01,0.033500,0.0360,0.012769,1.314286,0.950,0.699568
510,2008,Forest Lake,82015900-01,0.035846,0.0290,0.021866,1.715385,1.500,0.533614
511,2009,Forest Lake,82015900-01,0.023929,0.0230,0.008024,1.957143,1.600,0.706796
512,2010,Forest Lake,82015900-01,0.028071,0.0255,0.008669,1.871429,1.900,0.883549
513,2011,Forest Lake,82015900-01,0.037469,0.0340,0.013191,1.581250,1.300,0.791665
514,2012,Forest Lake,82015900-01,0.039178,0.0310,0.031337,1.871111,1.800,0.929961
515,2013,Forest Lake,82015900-01,0.031250,0.0290,0.012446,1.610588,1.500,0.661906
516,2014,Forest Lake,82015900-01,0.026360,0.0240,0.009055,1.600000,1.600,0.539141
517,2004,Kismet Lake,82033400-01,0.030857,0.0300,0.007220,2.504357,2.591,0.265641
518,2005,Kismet Lake,82033400-01,0.033571,0.0330,0.005854,2.068286,2.134,0.357198
519,2006,Kismet Lake,82033400-01,0.067769,0.0460,0.053835,1.840538,1.676,0.354596
520,2007,Kismet Lake,82033400-01,0.039538,0.0330,0.025241,1.594308,1.524,0.376540
521,2008,Kismet Lake,82033400-01,0.063286,0.0595,0.029127,1.534929,1.524,0.283275
522,2009,Kismet Lake,82033400-01,0.031286,0.0335,0.009903,1.034143,0.914,0.333749
523,2010,Kismet Lake,82033400-01,0.041357,0.0345,0.013854,1.316429,1.370,0.347178
524,2011,Kismet Lake,82033400-01,0.042917,0.0420,0.014362,1.828333,1.830,0.233582
525,2012,Kismet Lake,82033400-01,0.039000,0.0390,0.015556,1.595000,1.595,0.318198
526,2013,Kismet Lake,82033400-01,0.025000,0.0250,NaN,1.670000,1.670,NaN
527,2014,Kismet Lake,82033400-01,0.032917,0.0320,0.011712,1.625000,1.675,0.345267
528,2004,Klawitter Pond,82036800-01,0.114500,0.1190,0.026399,0.789286,0.800,0.186237
529,2005,Klawitter Pond,82036800-01,0.155154,0.1020,0.165952,0.734615,0.750,0.219265
530,2006,Klawitter Pond,82036800-01,0.103500,0.0950,0.042372,0.600000,0.575,0.197714
531,2007,Klawitter Pond,82036800-01,0.098083,0.0945,0.025450,0.491667,0.475,0.139534
532,2008,Klawitter Pond,82036800-01,0.092462,0.0970,0.047051,0.596923,0.500,0.298004
533,2009,Klawitter Pond,82036800-01,0.150429,0.1485,0.032708,0.619286,0.500,0.715579
534,2010,Klawitter Pond,82036800-01,0.154909,0.1460,0.035150,0.363636,0.350,0.074468
535,2011,Klawitter Pond,82036800-01,0.097000,0.0810,0.030229,0.744545,0.700,0.188062
536,2012,Klawitter Pond,82036800-01,0.088667,0.0805,0.036864,0.862500,0.775,0.390294
537,2013,Klawitter Pond,82036800-01,0.063909,0.0630,0.015023,0.818182,0.800,0.164731
538,2014,Klawitter Pond,82036800-01,0.084444,0.0730,0.027478,0.834444,0.850,0.270745

In [54]:
lakes_by_year.to_csv('./data/MinneMUDAC_raw_files/lakes_by_year.csv',index=False)

In [59]:
lakes_by_year['LAKE_NAME']

0      George Watch Lake
1      George Watch Lake
2      George Watch Lake
3      George Watch Lake
4      George Watch Lake
5      George Watch Lake
6      George Watch Lake
7      George Watch Lake
8      George Watch Lake
9      George Watch Lake
10     George Watch Lake
11            Riley Lake
12            Riley Lake
13            Riley Lake
14            Riley Lake
15            Riley Lake
16            Riley Lake
17            Riley Lake
18            Riley Lake
19            Riley Lake
20            Riley Lake
21            Riley Lake
22          St. Joe Lake
23          St. Joe Lake
24          St. Joe Lake
25          St. Joe Lake
26          St. Joe Lake
27          St. Joe Lake
28          St. Joe Lake
29          St. Joe Lake
             ...
509          Forest Lake
510          Forest Lake
511          Forest Lake
512          Forest Lake
513          Forest Lake
514          Forest Lake
515          Forest Lake
516          Forest Lake
517          Kismet Lake
518          Kismet Lake
519          Kismet Lake
520          Kismet Lake
521          Kismet Lake
522          Kismet Lake
523          Kismet Lake
524          Kismet Lake
525          Kismet Lake
526          Kismet Lake
527          Kismet Lake
528       Klawitter Pond
529       Klawitter Pond
530       Klawitter Pond
531       Klawitter Pond
532       Klawitter Pond
533       Klawitter Pond
534       Klawitter Pond
535       Klawitter Pond
536       Klawitter Pond
537       Klawitter Pond
538       Klawitter Pond
Name: LAKE_NAME, Length: 539, dtype: object