# Project 1 Part 4 - Creating a master parcel database

In this part of the project, we will use Python to read, process, and double all of the parcel data into a database.  Note that this is not our only alternative, and in Project 1 Part 4 b, we will look at another alternative, that is reading all the of original, raw files into their own database table, then using SQL to join/link/aggregate the tables.

## Chunking Files in Pandas – Part 1 (20 Points)

In this part of the project, you will use `Panda`’s to process the data from the MinneMUDAC 2016 competition Dive into Water Data.  The data can be found at the [MinneMUDAC site](http://minneanalytics.org/minnemudac/data/).  You should document your work in a Jupyter notebook, which will be used to submit your solution.  **For the rest of the parts of this project, we will limit ourselves to the years 2004-2014.**

1. Remind me why we want to skip 2003.

2003 has a lot less columns in common with the other years

2. Import the common columns list and translation dictionaries from the `.py` file you created in the last part of the project.

In [1]:
from project_data_Buske import common_columns

In [2]:
from project_data_Buske import latlong_to_code

In [3]:
#from project_data_Buske import latlong_to_name

In [4]:
from project_data_Buske import code_to_name

In [5]:
from project_data_Buske import code_to_distance

In [6]:
from project_data_Buske import latlong_to_distance

3. Use glob and a list comprehension to get a list of file names for the years 2004-2014.

In [84]:
from glob import glob
files = glob('./data/MinneMUDAC_raw_files/20**_metro_tax_parcels.txt')[2:-1]
[file for file in files]

['./data/MinneMUDAC_raw_files/2004_metro_tax_parcels.txt',
 './data/MinneMUDAC_raw_files/2005_metro_tax_parcels.txt',
 './data/MinneMUDAC_raw_files/2006_metro_tax_parcels.txt',
 './data/MinneMUDAC_raw_files/2007_metro_tax_parcels.txt',
 './data/MinneMUDAC_raw_files/2008_metro_tax_parcels.txt',
 './data/MinneMUDAC_raw_files/2009_metro_tax_parcels.txt',
 './data/MinneMUDAC_raw_files/2010_metro_tax_parcels.txt',
 './data/MinneMUDAC_raw_files/2011_metro_tax_parcels.txt',
 './data/MinneMUDAC_raw_files/2012_metro_tax_parcels.txt',
 './data/MinneMUDAC_raw_files/2013_metro_tax_parcels.txt',
 './data/MinneMUDAC_raw_files/2014_metro_tax_parcels.txt']

4. Use the first chunk of the first file to prototype an expression that <br>
    a. Selects the common columns <br>
    b. Fixes any issues with the column names <br>
    c. Changes columns to the correct types (if necessary).  More information about the columns can be found [here](ftp://ftp.gisdata.mn.gov/pub/gdrs/data/pub/us_mn_state_metrogis/plan_regonal_prcls_open/metadata/metadata.html). It is **imperative** that you keep the lat and long columns as strings. <br>
    d. Use the translation dictionaries from the last part to add three new columns to the chunk: lake code, lake name, parcel distance to the lake.
    e. Filters to only properties that are within 1600 m (~1 mile) of the closest lake.

In [90]:
import pandas as pd
fileiterator = [pd.read_csv(file, chunksize = 500, sep = '|', dtype={'centroid_lat':str, 'centroid_long':str}) for file in files]
fileiterator

[<pandas.io.parsers.TextFileReader at 0x1a5826710>,
 <pandas.io.parsers.TextFileReader at 0x1a58262b0>,
 <pandas.io.parsers.TextFileReader at 0x1a5826048>,
 <pandas.io.parsers.TextFileReader at 0x1dbecbf28>,
 <pandas.io.parsers.TextFileReader at 0x1dbb861d0>,
 <pandas.io.parsers.TextFileReader at 0x1dbb864a8>,
 <pandas.io.parsers.TextFileReader at 0x1dbb86780>,
 <pandas.io.parsers.TextFileReader at 0x1dbb86a90>,
 <pandas.io.parsers.TextFileReader at 0x1dbb86d30>,
 <pandas.io.parsers.TextFileReader at 0x1dbb860f0>,
 <pandas.io.parsers.TextFileReader at 0x1dbc45b00>]

In [91]:
from toolz import first

In [77]:
firstchunk = first(fileiterator[0])
firstchunk.head()

,ACRES_DEED,ACRES_POLY,AGPRE_ENRD,AGPRE_EXPD,AG_PRESERV,BASEMENT,BLDG_NUM,BLOCK,CITY,CITY_USPS,...,XUSE1_DESC,XUSE2_DESC,XUSE3_DESC,XUSE4_DESC,YEAR_BUILT,Year,ZIP,ZIP4,centroid_lat,centroid_long
0,0.0,8.03,NaN,NaN,N,NaN,NaN,NaN,SAINT FRANCIS,NaN,...,NaN,NaN,NaN,NaN,1980.0,2004,NaN,NaN,45.41332,-93.26739
1,0.0,0.93,NaN,NaN,N,NaN,24457.0,NaN,SAINT FRANCIS,BETHEL,...,NaN,NaN,NaN,NaN,1974.0,2004,55005.0,NaN,45.41354,-93.2701
2,0.0,8.75,NaN,NaN,N,NaN,24442.0,NaN,SAINT FRANCIS,BETHEL,...,NaN,NaN,NaN,NaN,1969.0,2004,55005.0,NaN,45.41318,-93.27344
3,0.0,11.17,NaN,NaN,N,NaN,410.0,NaN,SAINT FRANCIS,BETHEL,...,NaN,NaN,NaN,NaN,1989.0,2004,55005.0,NaN,45.41167,-93.27684
4,0.0,14.46,NaN,NaN,N,NaN,480.0,NaN,SAINT FRANCIS,BETHEL,...,NaN,NaN,NaN,NaN,1995.0,2004,55070.0,NaN,45.41169,-93.27849

In [78]:
from dfply import *
from more_dfply import *

In [79]:
exp = (firstchunk 
         >> select(common_columns)
         >> mutate(lat_long = pd.Series(zip(firstchunk.centroid_lat, firstchunk.centroid_long)))
         >> mutate(lake_code = recode(X.lat_long, latlong_to_code))
         >> mutate(lake_name = recode(X.lake_code, code_to_name))
         >> mutate(parcel_dist_to_lake = recode(X.lat_long, latlong_to_distance))
         #>> filter_by(X.parcel_dist_to_lake <= 1600)
      )         
exp

,OWN_ADD_L2,YEAR_BUILT,COOLING,GREEN_ACRE,PARC_CODE,EMV_TOTAL,SALE_DATE,TAX_ADD_L2,CITY_USPS,USE4_DESC,...,STREETTYPE,OWNER_NAME,centroid_lat,PREFIX_DIR,STREETNAME,OWN_ADD_L3,lat_long,lake_code,lake_name,parcel_dist_to_lake
0,BETHEL,1980.0,NaN,N,0.0,23964.0,NaN,BETHEL,NaN,NaN,...,NaN,NaN,45.41332,NaN,NaN,"MN, 55005","(45.41332, -93.26739)",02009100-03,NaN,5939.891324
1,BETHEL,1974.0,NaN,N,0.0,171837.0,NaN,BETHEL,BETHEL,NaN,...,ST,NaN,45.41354,NaN,DOGWOOD,"MN, 55005","(45.41354, -93.2701)",02009100-03,NaN,5939.891324
2,ST FRANCIS,1969.0,NaN,N,0.0,195751.0,2001-04-26,SIMI VALLEY,BETHEL,NaN,...,ST,NaN,45.41318,NaN,DOGWOOD,"MN, 55005","(45.41318, -93.27344)",02009100-03,NaN,5939.891324
3,BETHEL,1989.0,NaN,N,0.0,210338.0,1995-03-23,CHESTERFIELD,BETHEL,NaN,...,AVE,NaN,45.41167,NaN,245TH,"MN, 55005","(45.41167, -93.27684)",02009100-03,NaN,5939.891324
4,EAST BETHEL,1995.0,NaN,N,0.0,204359.0,1995-04-04,RICHMOND,BETHEL,NaN,...,AVE,NaN,45.41169,NaN,245TH,"MN, 55005","(45.41169, -93.27849)",02009100-03,NaN,5939.891324
5,ST PAUL,0.0,NaN,N,0.0,210000.0,NaN,ST PAUL,NaN,NaN,...,NaN,NaN,45.40981,NaN,NaN,"MN, 55155","(45.40981, -93.29885)",02009100-03,NaN,5939.891324
6,EAST BETHEL,0.0,NaN,N,0.0,10005.0,2004-06-25,COVINA,NaN,NaN,...,NaN,NaN,45.41172,NaN,NaN,"MN, 55005","(45.41172, -93.27973)",02009100-03,NaN,5939.891324
7,ISANTI,1969.0,NaN,N,0.0,169388.0,1987-02-01,COVINA,ISANTI,NaN,...,AVE,NaN,45.41168,NaN,245TH,"MN, 55040","(45.41168, -93.28033)",02009100-03,NaN,5939.891324
8,ST PAUL,0.0,NaN,N,0.0,21800.0,1995-06-07,ST PAUL,NaN,NaN,...,NaN,NaN,45.4117,NaN,NaN,"MN, 55101","(45.4117, -93.28091)",02009100-03,NaN,5939.891324
9,ST PAUL,0.0,NaN,N,0.0,247500.0,1994-12-14,ST PAUL,NaN,NaN,...,NaN,NaN,45.41162,NaN,NaN,"MN, 55155","(45.41162, -93.28364)",02009100-03,NaN,5939.891324
10,ST PAUL,0.0,NaN,N,0.0,240000.0,NaN,ST PAUL,NaN,NaN,...,NaN,NaN,45.4117,NaN,NaN,"MN, 55155","(45.4117, -93.30398)",02009100-03,NaN,5939.891324
11,ST FRANCIS,1985.0,NaN,N,0.0,269806.0,1995-04-05,DALLAS,SAINT FRANCIS,NaN,...,ST,NaN,45.41316,NaN,PARTRIDGE,"MN, 55070","(45.41316, -93.3182)",02009100-03,NaN,5939.891324
12,ST FRANCIS,1995.0,NaN,N,0.0,221632.0,1995-05-13,MURRAY,SAINT FRANCIS,NaN,...,ST,NaN,45.41317,NaN,PARTRIDGE,"MN, 55070","(45.41317, -93.32075)",02009100-03,NaN,5939.891324
13,ST FRANCIS,1974.0,NaN,Y,0.0,265496.0,NaN,ST FRANCIS,SAINT FRANCIS,NaN,...,ST,NaN,45.41282,NaN,VERDIN,"MN, 55070","(45.41282, -93.32399)",02009100-03,NaN,5939.891324
14,ST PAUL,0.0,NaN,N,0.0,192500.0,NaN,ST PAUL,NaN,NaN,...,NaN,NaN,45.41162,NaN,NaN,"MN, 55155","(45.41162, -93.2885)",02009100-03,NaN,5939.891324
15,ST PAUL,0.0,NaN,N,0.0,106000.0,NaN,ST PAUL,NaN,NaN,...,NaN,NaN,45.41189,NaN,NaN,"MN, 55155","(45.41189, -93.29374)",02009100-03,NaN,5939.891324
16,ST PAUL,0.0,NaN,N,0.0,4750.0,NaN,ST PAUL,NaN,NaN,...,NaN,NaN,45.41192,NaN,NaN,"MN, 55108","(45.41192, -93.33711)",02009100-01,George Lake,7259.570913
17,ST FRANCIS,0.0,NaN,N,0.0,204000.0,NaN,ST FRANCIS,NaN,NaN,...,NaN,NaN,45.4118,NaN,NaN,"MN, 55070","(45.4118, -93.33971)",02009100-01,George Lake,7259.570913
18,NICOLLET,0.0,NaN,Y,0.0,173500.0,NaN,NICOLLET,NaN,NaN,...,NaN,NaN,45.41176,NaN,NaN,"MN, 56074","(45.41176, -93.34476)",02009100-02,NaN,2507.626106
19,ST FRANCIS,0.0,NaN,Y,0.0,132500.0,NaN,ST FRANCIS,NaN,NaN,...,NaN,NaN,45.41145,NaN,NaN,"MN, 55070","(45.41145, -93.34958)",02009100-02,NaN,2507.626106
20,ISANTI,1997.0,NaN,N,0.0,204253.0,2002-05-24,DES MOINES,ISANTI,NaN,...,LN,NaN,45.41341,NaN,RIVER BANK,"MN, 55040","(45.41341, -93.35106)",02009100-02,NaN,2507.626106
21,ISANTI,0.0,NaN,N,0.0,50400.0,NaN,ISANTI,NaN,NaN,...,NaN,NaN,45.41325,NaN,NaN,"MN, 55040","(45.41325, -93.35273)",02009100-02,NaN,2507.626106
22,ISANTI,1969.0,NaN,N,0.0,173939.0,1984-12-01,OKLAHOMA CITY,ISANTI,NaN,...,HWY,NaN,45.41328,NaN,KINGS,"MN, 55040","(45.41328, -93.35355)",02009100-02,NaN,2507.626106
23,ISANTI,0.0,NaN,N,0.0,945.0,1988-02-01,ISANTI,NaN,NaN,...,NaN,NaN,45.41329,NaN,NaN,"MN, 55040","(45.41329, -93.35405)",02009100-02,NaN,2507.626106
24,ISANTI,0.0,NaN,N,0.0,52063.0,1993-12-21,ISANTI,NaN,NaN,...,NaN,NaN,45.41338,NaN,NaN,"MN, 55040","(45.41338, -93.35477)",02009100-02,NaN,2507.626106
25,ST FRANCIS,0.0,NaN,N,0.0,53773.0,2004-08-17,ST FRANCIS,NaN,NaN,...,NaN,NaN,45.41341,NaN,NaN,"MN, 55070","(45.41341, -93.35648)",02009100-02,NaN,2507.626106
26,ST FRANCIS,1970.0,NaN,N,0.0,226732.0,NaN,ST FRANCIS,SAINT FRANCIS,NaN,...,AVE,NaN,45.40979,NaN,241ST,"MN, 55070","(45.40979, -93.38256)",02009100-02,NaN,2507.626106
27,BROOKLYN PARK,0.0,NaN,N,0.0,61300.0,2003-08-08,BROOKLYN PARK,NaN,NaN,...,NaN,NaN,45.41124,NaN,NaN,"MN, 55444","(45.41124, -93.37909)",02009100-02,NaN,2507.626106
28,ST FRANCIS,0.0,NaN,N,0.0,48213.0,1997-11-04,ST FRANCIS,NaN,NaN,...,NaN,NaN,45.41178,NaN,NaN,"MN, 55070","(45.41178, -93.37714)",02009100-02,NaN,2507.626106
29,ST FRANCIS,1994.0,NaN,N,0.0,212032.0,1994-05-03,DES MOINES,SAINT FRANCIS,NaN,...,BLVD,NaN,45.41319,NaN,ST FRANCIS,"MN, 55070","(45.41319, -93.37066)",02009100-02,NaN,2507.626106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,ST FRANCIS,1996.0,NaN,N,0.0,194710.0,NaN,DES MOINES,SAINT FRANCIS,NaN,...,ST,NaN,45.40029,NaN,UNITY,"MN, 55070","(45.40029, -93.29296)",02009100-03,NaN,5939.891324
471,ST FRANCIS,1989.0,NaN,N,0.0,205646.0,2004-05-03,PLYMOUTH,SAINT FRANCIS,NaN,...,AVE,NaN,45.39993,NaN,237TH,"MN, 55070","(45.39993, -93.31494)",02009100-03,NaN,5939.891324
472,ST FRANCIS,1930.0,NaN,N,0.0,162367.0,1999-04-26,ST FRANCIS,SAINT FRANCIS,NaN,...,BLVD,NaN,45.40099,NaN,AMBASSADOR,"MN, 55070","(45.40099, -93.41461)",02009100-02,NaN,2507.626106
473,ST FRANCIS,0.0,NaN,Y,0.0,85500.0,1992-12-10,ST FRANCIS,NaN,NaN,...,NaN,NaN,45.39997,NaN,NaN,"MN, 55070","(45.39997, -93.43699)",02013000-01,Pickerel Lake,4345.023767
474,ST FRANCIS,0.0,NaN,N,0.0,50400.0,1996-03-26,ST FRANCIS,NaN,NaN,...,NaN,NaN,45.40065,NaN,NaN,"MN, 55070","(45.40065, -93.39865)",02009100-02,NaN,2507.626106
475,ST FRANCIS,0.0,NaN,N,0.0,57032.0,1996-03-26,ST FRANCIS,NaN,NaN,...,NaN,NaN,45.40065,NaN,NaN,"MN, 55070","(45.40065, -93.39979)",02009100-02,NaN,2507.626106
476,ST FRANCIS,1979.0,NaN,N,0.0,217437.0,1997-08-28,JACKSONVILLE,SAINT FRANCIS,NaN,...,AVE,NaN,45.40068,NaN,238TH,"MN, 55070","(45.40068, -93.4009)",02009100-02,NaN,2507.626106
477,ST FRANCIS,1972.0,NaN,N,0.0,194785.0,NaN,LA CROSSE,SAINT FRANCIS,NaN,...,AVE,NaN,45.39978,NaN,237TH,"MN, 55070","(45.39978, -93.28349)",02009100-03,NaN,5939.891324
478,ST FRANCIS,1900.0,NaN,N,0.0,157694.0,NaN,COVINA,SAINT FRANCIS,NaN,...,AVE,NaN,45.39978,NaN,237TH,"MN, 55070","(45.39978, -93.2825)",02009100-03,NaN,5939.891324
479,ST FRANCIS,1979.0,NaN,N,0.0,196697.0,1994-06-24,SIMI VALLEY,SAINT FRANCIS,NaN,...,AVE,NaN,45.40064,NaN,238TH,"MN, 55070","(45.40064, -93.402)",02009100-02,NaN,2507.626106
480,BETHEL,1903.0,NaN,N,0.0,146088.0,1993-10-22,CHESTERFIELD,BETHEL,NaN,...,AVE,NaN,45.40009,NaN,COOPER,"MN, 55005","(45.40009, -93.27115)",02009100-03,NaN,5939.891324
481,MPLS,0.0,NaN,Y,0.0,247501.0,NaN,ARLINGTON,NaN,NaN,...,NaN,NaN,45.3997,NaN,NaN,"MN, 55479","(45.3997, -93.3632)",02009100-02,NaN,2507.626106
482,BETHEL,1948.0,NaN,N,0.0,86543.0,NaN,BETHEL,BETHEL,NaN,...,ST,NaN,45.39998,NaN,DEWEY,"MN, 55005","(45.39998, -93.26856)",02009100-03,NaN,5939.891324
483,BETHEL,0.0,NaN,N,0.0,44896.0,NaN,BETHEL,NaN,NaN,...,NaN,NaN,45.39959,NaN,NaN,"MN, 55005","(45.39959, -93.27007)",02009100-03,NaN,5939.891324
484,ST FRANICS,1992.0,NaN,N,0.0,207763.0,1992-10-29,NORRIDGE,SAINT FRANCIS,NaN,...,BLVD,NaN,45.40029,NaN,AMBASSADOR,"MN, 55070","(45.40029, -93.4145)",02009100-02,NaN,2507.626106
485,ST FRANCIS,1970.0,NaN,N,0.0,169903.0,NaN,ST FRANCIS,BETHEL,NaN,...,AVE,NaN,45.39955,NaN,UNIVERSITY,"MN, 55070","(45.39955, -93.26612)",02009100-03,NaN,5939.891324
486,EAST BETHEL,1981.0,NaN,N,0.0,136266.0,1989-01-01,COVINA,BETHEL,NaN,...,ST,NaN,45.39965,NaN,DEWEY,"MN, 55005","(45.39965, -93.26864)",02009100-03,NaN,5939.891324
487,ST FRANCIS,0.0,NaN,N,0.0,73700.0,2004-01-28,ST FRANCIS,NaN,NaN,...,NaN,NaN,45.40014,NaN,NaN,"MN, 55070","(45.40014, -93.41757)",02013000-01,Pickerel Lake,4345.023767
488,ST FRANCIS,1986.0,NaN,N,0.0,152484.0,2000-09-27,COLUMBIA,SAINT FRANCIS,NaN,...,AVE,NaN,45.39945,NaN,237TH,"MN, 55070","(45.39945, -93.29295)",02009100-03,NaN,5939.891324
489,ST FRANCIS,1991.0,NaN,N,0.0,202799.0,2004-06-11,ST FRANCIS,SAINT FRANCIS,NaN,...,BLVD,NaN,45.39969,NaN,AMBASSADOR,"MN, 55070","(45.39969, -93.41395)",02009100-02,NaN,2507.626106
490,ST FRANCIS,1994.0,NaN,N,0.0,204409.0,1995-11-17,ST FRANCIS,SAINT FRANCIS,NaN,...,BLVD,NaN,45.39994,NaN,AMBASSADOR,"MN, 55070","(45.39994, -93.39605)",02009100-02,NaN,2507.626106
491,ST FRANCIS,1989.0,NaN,N,0.0,197228.0,1995-01-24,DES MOINES,SAINT FRANCIS,NaN,...,ST,NaN,45.39993,NaN,XKIMO,"MN, 55070","(45.39993, -93.3972)",02009100-02,NaN,2507.626106
492,BETHEL,1917.0,NaN,N,0.0,116996.0,2002-09-20,DALLAS,BETHEL,NaN,...,ST,NaN,45.39933,NaN,DEWEY,"MN, 55005","(45.39933, -93.26876)",02009100-03,NaN,5939.891324
493,ST FRANCIS,1964.0,NaN,N,0.0,187208.0,2000-07-27,DES MOINES,SAINT FRANCIS,NaN,...,BLVD,NaN,45.39971,NaN,AMBASSADOR,"MN, 55070","(45.39971, -93.37586)",02009100-02,NaN,2507.626106
494,ST FRANCIS,0.0,NaN,N,0.0,800.0,1982-08-01,ST FRANCIS,NaN,NaN,...,NaN,NaN,45.39972,NaN,NaN,"MN, 55070","(45.39972, -93.37688)",02009100-02,NaN,2507.626106
495,BETHEL,0.0,NaN,N,0.0,100.0,NaN,BETHEL,NaN,NaN,...,NaN,NaN,45.40022,NaN,NaN,"MN, 55005","(45.40022, -93.40088)",02009100-02,NaN,2507.626106
496,ST FRANCIS,1977.0,NaN,N,0.0,203040.0,NaN,ST FRANCIS,SAINT FRANCIS,NaN,...,BLVD,NaN,45.39986,NaN,AMBASSADOR,"MN, 55070","(45.39986, -93.39922)",02009100-02,NaN,2507.626106
497,BETHEL,0.0,NaN,N,0.0,500.0,NaN,BETHEL,NaN,NaN,...,NaN,NaN,45.3998,NaN,NaN,"MN, 55005","(45.3998, -93.40043)",02009100-02,NaN,2507.626106
498,NaN,0.0,NaN,N,0.0,32000.0,NaN,NaN,NaN,NaN,...,NaN,NaN,45.3998,NaN,NaN,", 00000","(45.3998, -93.40096)",02009100-02,NaN,2507.626106
499,BETHEL,0.0,NaN,N,0.0,30000.0,NaN,BETHEL,NaN,NaN,...,NaN,NaN,45.39983,NaN,NaN,"MN, 55005","(45.39983, -93.40197)",02009100-02,NaN,2507.626106

In [80]:
exp.lake_name.isna().sum()

382

In [81]:
exp.columns

Index(['OWN_ADD_L2', 'YEAR_BUILT', 'COOLING', 'GREEN_ACRE', 'PARC_CODE',
       'EMV_TOTAL', 'SALE_DATE', 'TAX_ADD_L2', 'CITY_USPS', 'USE4_DESC',
       'ZIP4', 'HEATING', 'Year', 'GARAGE', 'SCHOOL_DST', 'SALE_VALUE',
       'USE3_DESC', 'NUM_UNITS', 'PLAT_NAME', 'SPEC_ASSES', 'SUFFIX_DIR',
       'LANDMARK', 'BLDG_NUM', 'OWN_ADD_L1', 'WSHD_DIST', 'XUSE2_DESC', 'LOT',
       'EMV_LAND', 'COUNTY_ID', 'BASEMENT', 'DWELL_TYPE', 'USE1_DESC',
       'MULTI_USES', 'FIN_SQ_FT', 'Shape_Leng', 'TAX_NAME', 'ACRES_POLY',
       'HOMESTEAD', 'UNIT_INFO', 'AG_PRESERV', 'TOTAL_TAX', 'ACRES_DEED',
       'AGPRE_EXPD', 'BLOCK', 'GARAGESQFT', 'USE2_DESC', 'TAX_CAPAC',
       'PREFIXTYPE', 'XUSE1_DESC', 'AGPRE_ENRD', 'centroid_long', 'ZIP',
       'TAX_ADD_L3', 'CITY', 'TAX_EXEMPT', 'HOME_STYLE', 'TAX_ADD_L1',
       'XUSE3_DESC', 'XUSE4_DESC', 'OPEN_SPACE', 'EMV_BLDG', 'PIN',
       'Shape_Area', 'OWNER_MORE', 'STREETTYPE', 'OWNER_NAME', 'centroid_lat',
       'PREFIX_DIR', 'STREETNAME', 'OWN_ADD_L3', 'lat_long', 'lake_code',
       'lake_name', 'parcel_dist_to_lake'],
      dtype='object')

5. Now convert your expression from the last problem to a function and test that this function works on the first few chunks of each file.

In [92]:
def addcolumns(chunk):
    return (chunk 
             >> select(common_columns)
             >> mutate(lat_long = pd.Series(zip(chunk.centroid_lat, chunk.centroid_long)))
             >> mutate(lake_code = recode(X.lat_long, latlong_to_code))
             >> mutate(lake_name = recode(X.lake_code, code_to_name))
             >> mutate(parcel_dist_to_lake = recode(X.lat_long, latlong_to_distance))
             #>> filter_by(X.parcel_dist_to_lake <= 1600)
      )

In [93]:
ch = first(fileiterator[2])
addcolumns(ch)

,OWN_ADD_L2,YEAR_BUILT,COOLING,GREEN_ACRE,PARC_CODE,EMV_TOTAL,SALE_DATE,TAX_ADD_L2,CITY_USPS,USE4_DESC,...,STREETTYPE,OWNER_NAME,centroid_lat,PREFIX_DIR,STREETNAME,OWN_ADD_L3,lat_long,lake_code,lake_name,parcel_dist_to_lake
0,ANDOVER,2000.0,NaN,NaN,0.0,357700.0,2000-11-17,ANDOVER,ANDOVER,NaN,...,ST,ODONNELL MICHAEL H & SHERRI L,45.22905,NaN,ALDER,"MN, 55304","(45.22905, -93.26607)",02005300-01,Ham Lake,4567.588683
1,ANDOVER,1999.0,NaN,NaN,0.0,358600.0,NaN,ANDOVER,ANDOVER,NaN,...,ST,MOSS WAYNE E & THERESA A,45.22892,NaN,ALDER,"MN, 55304","(45.22892, -93.26591)",02005300-01,Ham Lake,4567.588683
2,ANDOVER,1999.0,NaN,NaN,0.0,336300.0,NaN,ANDOVER,ANDOVER,NaN,...,ST,ARVIDSON LAWRENCE C & LINDA F,45.22864,NaN,ALDER,"MN, 55304","(45.22864, -93.26566)",02005300-01,Ham Lake,4567.588683
3,ANDOVER,1999.0,NaN,NaN,0.0,331300.0,NaN,ANDOVER,ANDOVER,NaN,...,ST,STRUSS HERBERT F & THIESE A,45.22829,NaN,ALDER,"MN, 55304","(45.22829, -93.26547)",02005300-01,Ham Lake,4567.588683
4,ANDOVER,2000.0,NaN,NaN,0.0,344600.0,NaN,ANDOVER,ANOKA,NaN,...,ST,WINDMEIER TRUSTEE/DAVID,45.22811,NaN,ALDER,"MN, 55304","(45.22811, -93.26548)",02005300-01,Ham Lake,4567.588683
5,ANDOVER,2002.0,NaN,NaN,0.0,338000.0,2002-07-26,ANDOVER,ANDOVER,NaN,...,ST,GREENE WILLIAM J & MARCIA R,45.22859,NaN,ALDER,"MN, 55304","(45.22859, -93.26641)",02005300-01,Ham Lake,4567.588683
6,ANDOVER,2002.0,NaN,NaN,0.0,335500.0,2002-07-29,ANDOVER,ANDOVER,NaN,...,ST,STELLMACH CONSTANCE A,45.22827,NaN,ALDER,"MN, 55304","(45.22827, -93.26625)",02005300-01,Ham Lake,4567.588683
7,ANDOVER,2002.0,NaN,NaN,0.0,286500.0,2003-03-13,ANDOVER,ANDOVER,NaN,...,AVE,QUIGLEY MICHAEL F & LINDA A,45.2287,NaN,142ND,"MN, 55304","(45.2287, -93.26747)",02005300-01,Ham Lake,4567.588683
8,ANDOVER,2001.0,NaN,NaN,0.0,237500.0,2002-04-09,ANDOVER,ANDOVER,NaN,...,AVE,WILLIAMS WILLIAM R & CAROL A,45.22878,NaN,142ND,"MN, 55304","(45.22878, -93.26704)",02005300-01,Ham Lake,4567.588683
9,ANDOVER,2002.0,NaN,NaN,0.0,254100.0,2002-11-22,ANDOVER,ANDOVER,NaN,...,LN,SANDERS JAMES E & JUDY E,45.22806,NaN,141ST,"MN, 55304","(45.22806, -93.26731)",02005300-01,Ham Lake,4567.588683
10,ANDOVER,2001.0,NaN,NaN,0.0,349600.0,2002-02-08,ANDOVER,ANDOVER,NaN,...,LN,HELFENSTEIN RONNIE L & LILY M,45.22815,NaN,141ST,"MN, 55304","(45.22815, -93.26689)",02005300-01,Ham Lake,4567.588683
11,ANDOVER,0.0,NaN,NaN,0.0,0.0,NaN,ANDOVER,NaN,NaN,...,NaN,SHADOWBROOK COVE TOWNHOMES ASN,45.22909,NaN,NaN,"MN, 55304","(45.22909, -93.26647)",02005300-01,Ham Lake,4567.588683
12,ANDOVER,2000.0,NaN,NaN,0.0,297900.0,2003-04-02,ANDOVER,ANDOVER,NaN,...,AVE,HADTRATH PATTI M,45.22911,NaN,142ND,"MN, 55304","(45.22911, -93.26803)",02005300-01,Ham Lake,4567.588683
13,ANDOVER,1999.0,NaN,NaN,0.0,308300.0,NaN,ANDOVER,ANDOVER,NaN,...,AVE,FOX KENNETH N & ROSE A,45.22888,NaN,142ND,"MN, 55304","(45.22888, -93.2688)",02005300-01,Ham Lake,4567.588683
14,ANDOVER,2000.0,NaN,NaN,0.0,356200.0,2001-12-13,ANDOVER,ANDOVER,NaN,...,AVE,DAVIS LAWRENCE B & JUDITH L,45.22888,NaN,142ND,"MN, 55304","(45.22888, -93.26858)",02005300-01,Ham Lake,4567.588683
15,AITKIN,2002.0,NaN,NaN,0.0,232600.0,2003-03-28,AITKIN,ANDOVER,NaN,...,ST,SOLSETH DOUGLAS R,45.22847,NaN,BUTTERNUT,"MN, 56431","(45.22847, -93.26806)",02005300-01,Ham Lake,4567.588683
16,ANDOVER,2002.0,NaN,NaN,0.0,232600.0,2003-09-03,ANDOVER,ANDOVER,NaN,...,ST,DAHL MARLYS D,45.22863,NaN,BUTTERNUT,"MN, 55304","(45.22863, -93.26806)",02005300-01,Ham Lake,4567.588683
17,ANDOVER,2001.0,NaN,NaN,0.0,342200.0,2005-10-28,ANDOVER,ANDOVER,NaN,...,ST,RESHETAR GARY,45.22808,NaN,BUTTERNUT,"MN, 55304","(45.22808, -93.26853)",02005300-01,Ham Lake,4567.588683
18,ANDOVER,2001.0,NaN,NaN,0.0,301700.0,2004-02-25,ANDOVER,ANDOVER,NaN,...,LN,LEHRER DANIEL J & SUSAN M,45.22745,NaN,141ST,"MN, 55304","(45.22745, -93.26873)",02005300-01,Ham Lake,4567.588683
19,COON RAPIDS,0.0,NaN,NaN,0.0,0.0,NaN,COON RAPIDS,NaN,NaN,...,NaN,SHADOWBROOK COVE TOWNHOME ASSN,45.22884,NaN,NaN,"MN, 55433","(45.22884, -93.26836)",02005300-01,Ham Lake,4567.588683
20,ANDOVER,2000.0,NaN,NaN,0.0,279800.0,2000-10-14,ANDOVER,ANDOVER,NaN,...,AVE,MUNSON MARY,45.22919,NaN,142ND,"MN, 55304","(45.22919, -93.26728)",02005300-01,Ham Lake,4567.588683
21,ANDOVER,2000.0,NaN,NaN,0.0,270800.0,2001-05-31,ANDOVER,ANDOVER,NaN,...,AVE,BRODEEN RANDALL W & PATRICIA M,45.22922,NaN,142ND,"MN, 55304","(45.22922, -93.26705)",02005300-01,Ham Lake,4567.588683
22,ANDOVER,2000.0,NaN,NaN,0.0,290400.0,NaN,ANDOVER,ANDOVER,NaN,...,AVE,HAPKA CHESTER P & JUDITH A,45.22924,NaN,142ND,"MN, 55304","(45.22924, -93.26679)",02005300-01,Ham Lake,4567.588683
23,ANDOVER,2000.0,NaN,NaN,0.0,274500.0,NaN,ANDOVER,ANDOVER,NaN,...,AVE,MELIN RONALD A & MARY ELLEN,45.22923,NaN,142ND,"MN, 55304","(45.22923, -93.26653)",02005300-01,Ham Lake,4567.588683
24,ANDOVER,2000.0,NaN,NaN,0.0,326800.0,NaN,ANDOVER,ANDOVER,NaN,...,AVE,GASNER PAUL E & JOAN M,45.22916,NaN,142ND,"MN, 55304","(45.22916, -93.26628)",02005300-01,Ham Lake,4567.588683
25,ANDOVER,2000.0,NaN,NaN,0.0,341100.0,2003-10-28,ANDOVER,ANDOVER,NaN,...,ST,COLLINS DONALD J & NORA S,45.22878,NaN,ALDER,"MN, 55304","(45.22878, -93.26578)",02005300-01,Ham Lake,4567.588683
26,ANDOVER,2000.0,NaN,NaN,0.0,360200.0,NaN,ANDOVER,ANDOVER,NaN,...,ST,THOMPSON DAVID L & EVELYN A,45.22847,NaN,ALDER,"MN, 55304","(45.22847, -93.26558)",02005300-01,Ham Lake,4567.588683
27,ANDOVER,2001.0,NaN,NaN,0.0,343800.0,2001-12-14,ANDOVER,ANDOVER,NaN,...,ST,WAGNER DEAN E & LOIS A,45.22871,NaN,ALDER,"MN, 55304","(45.22871, -93.26658)",02005300-01,Ham Lake,4567.588683
28,ANDOVER,2002.0,NaN,NaN,0.0,344800.0,2002-06-27,ANDOVER,ANDOVER,NaN,...,ST,CARLSON DAVID R & JUDITH E,45.22843,NaN,ALDER,"MN, 55304","(45.22843, -93.2663)",02005300-01,Ham Lake,4567.588683
29,ANDOVER,2001.0,NaN,NaN,0.0,249200.0,2002-01-12,ANDOVER,ANDOVER,NaN,...,AVE,RILEY LYNDA M & MERLE E,45.22874,NaN,142ND,"MN, 55304","(45.22874, -93.26726)",02005300-01,Ham Lake,4567.588683
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,MOUNT DORA,1971.0,NaN,NaN,0.0,244400.0,NaN,MOUNT DORA,ANOKA,NaN,...,ST,LINDBERG RUTH C,45.29412,NaN,AZTEC,"FL, 32757","(45.29412, -93.36664)",02009100-02,NaN,2507.626106
471,ANDOVER,1983.0,NaN,NaN,0.0,244400.0,NaN,ANDOVER,ANOKA,NaN,...,AVE,BENIK DAVID ALLEN & VICKI J,45.29386,NaN,179TH,"MN, 55304","(45.29386, -93.33621)",02009100-02,NaN,2507.626106
472,ANDOVER,1972.0,NaN,NaN,0.0,217600.0,NaN,ANDOVER,ANOKA,NaN,...,ST,QUIGLEY ANN S,45.29351,NaN,BLUEBIRD,"MN, 55304","(45.29351, -93.29966)",02005300-01,Ham Lake,4567.588683
473,ANDOVER,1986.0,NaN,NaN,0.0,227000.0,NaN,ANDOVER,ANOKA,NaN,...,ST,FRENCH TRACY A & MELISSA R,45.29362,NaN,UPLANDER,"MN, 55304","(45.29362, -93.32575)",02009100-03,NaN,5939.891324
474,ANDOVER,1983.0,NaN,NaN,0.0,266700.0,NaN,ANDOVER,ANOKA,NaN,...,CIR,ROBERTS THOMAS S & DIETZ E,45.29344,NaN,SWALLOW,"MN, 55304","(45.29344, -93.32258)",02009100-03,NaN,5939.891324
475,ANDOVER,0.0,NaN,NaN,0.0,104600.0,NaN,ANDOVER,NaN,NaN,...,NaN,BOWERSOX DAVID W & DONNA R,45.29354,NaN,NaN,"MN, 55304","(45.29354, -93.3241)",02009100-03,NaN,5939.891324
476,ANDOVER,1992.0,NaN,NaN,0.0,267500.0,NaN,ANDOVER,ANOKA,NaN,...,LN,ODELL CHAD & HEATHER,45.29348,NaN,178TH,"MN, 55304","(45.29348, -93.35806)",02009100-02,NaN,2507.626106
477,ANDOVER,1992.0,NaN,NaN,0.0,285500.0,NaN,ANDOVER,ANOKA,NaN,...,LN,ARNDT DOUGLAS K & DEROO DAWN,45.29348,NaN,178TH,"MN, 55304","(45.29348, -93.35909)",02009100-02,NaN,2507.626106
478,COON RAPIDS,0.0,NaN,NaN,0.0,19800.0,2005-01-14,COON RAPIDS,NaN,NaN,...,NaN,LAWRENCE DOUGLAS,45.2932,NaN,NaN,"MN, 55448","(45.2932, -93.29242)",02005300-01,Ham Lake,4567.588683
479,ANDOVER,1983.0,NaN,NaN,0.0,238100.0,NaN,ANDOVER,ANOKA,NaN,...,ST,BUTTS THOMAS A & COZETTE L,45.29358,NaN,ZION,"MN, 55304","(45.29358, -93.3321)",02009100-01,George Lake,7259.570913
480,ANDOVER,1992.0,NaN,NaN,0.0,262100.0,NaN,ANDOVER,ANOKA,NaN,...,LN,SEYDEL CHRISTOPHER M & JULIE K,45.29348,NaN,178TH,"MN, 55304","(45.29348, -93.36026)",02009100-02,NaN,2507.626106
481,ANDOVER,1992.0,NaN,NaN,0.0,291900.0,NaN,ANDOVER,ANOKA,NaN,...,LN,HARMASZ VICTOR & DARLA L,45.29349,NaN,178TH,"MN, 55304","(45.29349, -93.36137)",02009100-02,NaN,2507.626106
482,ANDOVER,1980.0,NaN,NaN,0.0,247600.0,NaN,ANDOVER,ANOKA,NaN,...,ST,BRISTOL JEROME E & M L,45.29351,NaN,ZION,"MN, 55304","(45.29351, -93.33022)",02009100-03,NaN,5939.891324
483,ANDOVER,1992.0,NaN,NaN,0.0,262300.0,NaN,ANDOVER,ANOKA,NaN,...,LN,KASTENBAUER RICHARD A & LISA C,45.29349,NaN,178TH,"MN, 55304","(45.29349, -93.36266)",02009100-02,NaN,2507.626106
484,ANDOVER,1992.0,NaN,NaN,0.0,295500.0,2003-11-24,ANDOVER,ANOKA,NaN,...,LN,BURT CURTIS D & JILL H,45.29351,NaN,178TH,"MN, 55304","(45.29351, -93.36376)",02009100-02,NaN,2507.626106
485,ANDOVER,1992.0,NaN,NaN,0.0,246700.0,NaN,ANDOVER,ANOKA,NaN,...,LN,HORNER BRYAN R & SUSAN M OKINS,45.29355,NaN,178TH,"MN, 55304","(45.29355, -93.3649)",02009100-02,NaN,2507.626106
486,ANDOVER,1978.0,NaN,NaN,0.0,0.0,NaN,ANDOVER,ANOKA,NaN,...,BLVD,HARPER DARLENE J TRUSTEE,45.29348,NaN,ROUND LAKE,"MN, 55304","(45.29348, -93.34549)",02009100-02,NaN,2507.626106
487,ANDOVER,1987.0,NaN,NaN,0.0,296000.0,NaN,ANDOVER,ANOKA,NaN,...,ST,MCCORMICK CONSTANCE J,45.29366,NaN,AZTEC,"MN, 55304","(45.29366, -93.36673)",02009100-02,NaN,2507.626106
488,ANDOVER,1968.0,NaN,NaN,0.0,227700.0,NaN,ANDOVER,ANOKA,NaN,...,LN,RENSHAW MICHAEL A & SIGNE M,45.29357,NaN,178TH,"MN, 55304","(45.29357, -93.35304)",02009100-02,NaN,2507.626106
489,ANDOVER,1976.0,NaN,NaN,0.0,247000.0,NaN,ANDOVER,ANOKA,NaN,...,LN,STOOR ELOISE P,45.29364,NaN,178TH,"MN, 55304","(45.29364, -93.35176)",02009100-02,NaN,2507.626106
490,ANDOVER,1978.0,NaN,NaN,0.0,244100.0,2004-09-17,ANDOVER,ANOKA,NaN,...,ST,CREEK MATTHEW C & MARIBETH S,45.29337,NaN,ORCHID,"MN, 55304","(45.29337, -93.35098)",02009100-02,NaN,2507.626106
491,ANDOVER,1977.0,NaN,NaN,0.0,220000.0,2004-12-30,ANDOVER,ANOKA,NaN,...,ST,LAWONN LORI,45.29358,NaN,ORCHID,"MN, 55304","(45.29358, -93.35008)",02009100-02,NaN,2507.626106
492,ANDOVER,1973.0,NaN,NaN,0.0,215400.0,NaN,ANDOVER,ANOKA,NaN,...,LN,WOLSKI DONALD F & MARIE C,45.29354,NaN,178TH,"MN, 55304","(45.29354, -93.35488)",02009100-02,NaN,2507.626106
493,ANDOVER,1983.0,NaN,NaN,0.0,233700.0,2006-04-06,ANDOVER,ANOKA,NaN,...,LN,SPEXET KATHRYN,45.29353,NaN,178TH,"MN, 55304","(45.29353, -93.35647)",02009100-02,NaN,2507.626106
494,ANDOVER,1978.0,NaN,NaN,0.0,250000.0,NaN,ANDOVER,ANOKA,NaN,...,ST,HAGBERG PHILIP R & MICHELE,45.29301,NaN,YELLOW PINE,"MN, 55304","(45.29301, -93.29657)",02005300-01,Ham Lake,4567.588683
495,ANDOVER,1999.0,NaN,NaN,0.0,336800.0,NaN,ANDOVER,ANOKA,NaN,...,ST,JOHNSON CHERYL,45.29301,NaN,YELLOW PINE,"MN, 55304","(45.29301, -93.29822)",02005300-01,Ham Lake,4567.588683
496,ANDOVER,1973.0,NaN,NaN,0.0,239400.0,NaN,ANDOVER,ANOKA,NaN,...,ST,DOUGHERTY R D & LEIDER S G,45.29297,NaN,BLUEBIRD,"MN, 55304","(45.29297, -93.3018)",02009100-03,NaN,5939.891324
497,ANDOVER,1972.0,NaN,NaN,0.0,316600.0,NaN,ANDOVER,ANOKA,NaN,...,BLVD,ARNTZEN WALTER L & PHYLLIS,45.29296,NaN,HANSON,"MN, 55304","(45.29296, -93.30434)",02009100-03,NaN,5939.891324
498,ANDOVER,1988.0,NaN,NaN,0.0,225000.0,NaN,ANDOVER,ANOKA,NaN,...,LN,HERNANDEZ JUAN J & YOKO,45.29291,NaN,177TH,"MN, 55304","(45.29291, -93.32872)",02009100-03,NaN,5939.891324
499,ANDOVER,1984.0,NaN,NaN,0.0,313300.0,NaN,ANDOVER,ANOKA,NaN,...,ST,BLOXHAM BRUCE D & GAIL M,45.29306,NaN,GLADIOLA,"MN, 55304","(45.29306, -93.34003)",02009100-02,NaN,2507.626106

In [21]:
addcolumns(firstchunk)

,OWN_ADD_L2,YEAR_BUILT,COOLING,GREEN_ACRE,PARC_CODE,EMV_TOTAL,SALE_DATE,TAX_ADD_L2,CITY_USPS,USE4_DESC,...,STREETTYPE,OWNER_NAME,centroid_lat,PREFIX_DIR,STREETNAME,OWN_ADD_L3,lat_long,lake_code,lake_name,parcel_dist_to_lake
0,ELK RIVER,1996.0,NaN,NaN,0.0,0.0,1899-12-30,ELK RIVER,SAINT FRANCIS,NaN,...,ST,DESCHENES TRUSTEE JAMES & SNEEN TRUSTEE ARTHUR,45.40663,NaN,QUICKSILVER,"MN, 55330","(45.40663, -93.42361)",02013000-01,Pickerel Lake,4345.023767
1,ST FRANCIS,1998.0,NaN,NaN,0.0,563800.0,1899-12-30,ST FRANCIS,SAINT FRANCIS,NaN,...,ST,HEIFORT ALAN W & JULIE A,45.40537,NaN,QUICKSILVER,"MN, 55070","(45.40537, -93.42046)",02013000-01,Pickerel Lake,4345.023767
2,ST FRANCIS,1987.0,NaN,NaN,0.0,299800.0,1899-12-30,ST FRANCIS,SAINT FRANCIS,NaN,...,BLVD,JOHNSON DALE R & VICKIE E,45.40447,NaN,AMBASSADOR,"MN, 55070","(45.40447, -93.41845)",02013000-01,Pickerel Lake,4345.023767
3,ST FRANCIS,1989.0,NaN,NaN,0.0,243000.0,1899-12-30,ST FRANCIS,SAINT FRANCIS,NaN,...,BLVD,HELD ROBERT J & BARBARA I,45.40339,NaN,AMBASSADOR,"MN, 55070","(45.40339, -93.41675)",02013000-01,Pickerel Lake,4345.023767
4,ST FRANCIS,1994.0,NaN,NaN,0.0,286300.0,1899-12-30,ST FRANCIS,SAINT FRANCIS,NaN,...,BLVD,RATHBUN VIC F TRACY J,45.40122,NaN,AMBASSADOR,"MN, 55070","(45.40122, -93.41084)",02009100-02,NaN,2507.626106
5,ST FRANCIS,1992.0,NaN,NaN,0.0,302900.0,1899-12-30,ST FRANCIS,SAINT FRANCIS,NaN,...,DR,HARRIS MICHAEL P & COLLEEN A,45.40235,NaN,SEELYE BROOK,"MN, 55070","(45.40235, -93.41291)",02009100-02,NaN,2507.626106
6,ELK RIVER,0.0,NaN,NaN,0.0,5600.0,1899-12-30,ELK RIVER,SAINT FRANCIS,NaN,...,NaN,ZIMMERMAN CASEY D & G A,45.4028,NaN,NaN,"MN, 55330","(45.4028, -93.41497)",02009100-02,NaN,2507.626106
7,ST. FRANCIS,1988.0,NaN,NaN,0.0,293000.0,2007-01-19,ST. FRANCIS,SAINT FRANCIS,NaN,...,BLVD,MAY DONALD,45.40234,NaN,AMBASSADOR,"MN, 55070","(45.40234, -93.4167)",02013000-01,Pickerel Lake,4345.023767
8,ELK RIVER,1988.0,NaN,NaN,0.0,296300.0,1899-12-30,ELK RIVER,ELK RIVER,NaN,...,ST,WATROBA MICHAEL & SANDRA,45.39726,NaN,NACRE,"MN, 55330","(45.39726, -93.45262)",02013000-01,Pickerel Lake,4345.023767
9,ELK RIVER,0.0,NaN,NaN,0.0,106400.0,1899-12-30,ELK RIVER,ELK RIVER,NaN,...,NaN,WATROBA MICHAEL & SANDRA,45.39637,NaN,NaN,"MN, 55330","(45.39637, -93.45264)",02013000-01,Pickerel Lake,4345.023767
10,ANDOVER,0.0,NaN,NaN,0.0,142500.0,2003-06-06,ANDOVER,ELK RIVER,NaN,...,NaN,AJE COMPANIES INC,45.39431,NaN,NaN,"MN, 55304","(45.39431, -93.46873)",02013000-01,Pickerel Lake,4345.023767
11,ELK RIVER,0.0,NaN,NaN,0.0,70000.0,1899-12-30,ELK RIVER,ELK RIVER,NaN,...,NaN,ALBRO STEVEN M & KAREN M,45.39278,NaN,NaN,"MN, 55330","(45.39278, -93.45142)",02013000-01,Pickerel Lake,4345.023767
12,ELK RIVER,0.0,NaN,NaN,0.0,132000.0,1899-12-30,ELK RIVER,ELK RIVER,NaN,...,NaN,BERNING RANDY S,45.39094,NaN,NaN,"MN, 55330","(45.39094, -93.46659)",02013000-01,Pickerel Lake,4345.023767
13,ELK RIVER,0.0,NaN,NaN,0.0,125500.0,1899-12-30,ELK RIVER,ELK RIVER,NaN,...,NaN,ALLIANT TECHSYSTEMS INC,45.39069,NaN,NaN,"MN, 55330","(45.39069, -93.46915)",02013000-01,Pickerel Lake,4345.023767
14,ELK RIVER,1985.0,NaN,NaN,0.0,284400.0,1899-12-30,ELK RIVER,ELK RIVER,NaN,...,ST,WEBER THOMAS D,45.39198,NaN,VARIOLITE,"MN, 55330","(45.39198, -93.46298)",02013000-01,Pickerel Lake,4345.023767
15,ELK RIVER,1974.0,NaN,NaN,0.0,235000.0,1899-12-30,ELK RIVER,ELK RIVER,NaN,...,DR,HALE MARLENE M & MCILVAINE D J,45.39767,NaN,HILL N DALE,"MN, 55330","(45.39767, -93.46469)",02013000-01,Pickerel Lake,4345.023767
16,ELK RIVER,0.0,NaN,NaN,0.0,232900.0,1899-12-30,ELK RIVER,ELK RIVER,NaN,...,NaN,JONES RAYMOND H & LILLIAN M,45.39768,NaN,NaN,"MN, 55330","(45.39768, -93.46219)",02013000-01,Pickerel Lake,4345.023767
17,EXCELSIOR,1984.0,NaN,NaN,0.0,314300.0,2007-06-21,EXCELSIOR,ELK RIVER,NaN,...,DR,DYER TRUSTEE ALIDA & DYER TRUSTEE DONALD,45.39854,NaN,HILL N DALE,"MN, 55331","(45.39854, -93.45382)",02013000-01,Pickerel Lake,4345.023767
18,GARRISON,1967.0,NaN,NaN,0.0,263500.0,2008-02-25,GARRISON,ELK RIVER,NaN,...,ST,BRAUSEN RICHARD,45.39852,NaN,NACRE,"MN, 56450","(45.39852, -93.45132)",02013000-01,Pickerel Lake,4345.023767
19,ELK RIVER,1967.0,NaN,NaN,0.0,270700.0,2003-02-04,ELK RIVER,ELK RIVER,NaN,...,DR,CAIN WILLIAM D,45.399,NaN,HILL N DALE,"MN, 55330","(45.399, -93.45758)",02013000-01,Pickerel Lake,4345.023767
20,ELK RIVER,2002.0,NaN,NaN,0.0,273500.0,2002-04-30,ELK RIVER,ELK RIVER,NaN,...,ST,DUKATZ KIRK G & AMY M,45.39819,NaN,VARIOLITE,"MN, 55330","(45.39819, -93.4576)",02013000-01,Pickerel Lake,4345.023767
21,ELK RIVER,2001.0,NaN,NaN,0.0,298800.0,2001-07-27,ELK RIVER,ELK RIVER,NaN,...,ST,ELLINGSON TRACY,45.3973,NaN,VARIOLITE,"MN, 55330","(45.3973, -93.45762)",02013000-01,Pickerel Lake,4345.023767
22,ELK RIVER,2001.0,NaN,NaN,0.0,259500.0,2001-10-11,ELK RIVER,ELK RIVER,NaN,...,ST,KILPELA GREGG B & CHERYL A,45.3964,NaN,VARIOLITE,"MN, 55330","(45.3964, -93.45764)",02013000-01,Pickerel Lake,4345.023767
23,ELK RIVER,2001.0,NaN,NaN,0.0,441800.0,2001-08-22,ELK RIVER,ELK RIVER,NaN,...,ST,EASTMAN RICHARD G & COLLEEN E,45.39551,NaN,VARIOLITE,"MN, 55330","(45.39551, -93.45765)",02013000-01,Pickerel Lake,4345.023767
24,BETHEL,0.0,NaN,NaN,0.0,118800.0,2006-08-11,BETHEL,SAINT FRANCIS,NaN,...,NaN,STC PROPERTIES INC,45.40068,NaN,NaN,"MN, 55005","(45.40068, -93.43633)",02013000-01,Pickerel Lake,4345.023767
25,ST FRANCIS,2002.0,NaN,NaN,0.0,351500.0,2005-12-05,ST FRANCIS,ELK RIVER,NaN,...,ST,HARVEY JAMES,45.39462,NaN,VARIOLITE,"MN, 55330","(45.39462, -93.45767)",02013000-01,Pickerel Lake,4345.023767
26,ST. FRANCIS,2000.0,NaN,NaN,0.0,411300.0,2006-12-29,ST. FRANCIS,ELK RIVER,NaN,...,ST,CHRISTOPHERSON NANCY,45.39372,NaN,VARIOLITE,"MN, 55330","(45.39372, -93.45769)",02013000-01,Pickerel Lake,4345.023767
27,ELK RIVER,2001.0,NaN,NaN,0.0,384600.0,2006-03-31,ELK RIVER,ELK RIVER,NaN,...,ST,NACHREINER CONNIE,45.39283,NaN,VARIOLITE,"MN, 55330","(45.39283, -93.45771)",02013000-01,Pickerel Lake,4345.023767
28,ST FRANCIS,1974.0,NaN,NaN,0.0,227800.0,2001-12-28,ST FRANCIS,SAINT FRANCIS,NaN,...,BLVD,KING RAFEL A & KATHLEEN A,45.40055,NaN,AMBASSADOR,"MN, 55070","(45.40055, -93.40847)",02009100-02,NaN,2507.626106
29,ST FRANCIS,1972.0,NaN,NaN,0.0,226200.0,2007-06-21,ST FRANCIS,SAINT FRANCIS,NaN,...,BLVD,STEARLY MARY,45.40374,NaN,AMBASSADOR,"MN, 55070","(45.40374, -93.42364)",02013000-01,Pickerel Lake,4345.023767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,ST FRANCIS,1981.0,NaN,NaN,0.0,173600.0,1899-12-30,ST FRANCIS,SAINT FRANCIS,NaN,...,LN,MIDLO MICHAEL J & JARAE M,45.37811,NaN,225TH,"MN, 55070","(45.37811, -93.36638)",02009100-02,NaN,2507.626106
471,ST FRANCIS,1967.0,NaN,NaN,0.0,203300.0,1899-12-30,ST FRANCIS,SAINT FRANCIS,NaN,...,ST,JOHNSON MARLIN,45.38122,NaN,POPPY,"MN, 55070","(45.38122, -93.3533)",02009100-02,NaN,2507.626106
472,ST FRANCIS,1980.0,NaN,NaN,0.0,181400.0,1899-12-30,ST FRANCIS,SAINT FRANCIS,NaN,...,AVE,ANLAUF MARK E & CONSTANCE J,45.37899,NaN,226TH,"MN, 55070","(45.37899, -93.36147)",02009100-02,NaN,2507.626106
473,ST FRANCIS,1980.0,NaN,NaN,0.0,169700.0,1899-12-30,ST FRANCIS,SAINT FRANCIS,NaN,...,AVE,SCHIBONSKI DOUGLAS V & K M,45.37898,NaN,226TH,"MN, 55070","(45.37898, -93.36115)",02009100-02,NaN,2507.626106
474,ST FRANCIS,1981.0,NaN,NaN,0.0,164400.0,2006-05-25,ST FRANCIS,SAINT FRANCIS,NaN,...,AVE,MEYERS SCOTT,45.37898,NaN,226TH,"MN, 55070","(45.37898, -93.36084)",02009100-02,NaN,2507.626106
475,ANOKA,0.0,NaN,NaN,0.0,86000.0,1899-12-30,ANOKA,SAINT FRANCIS,NaN,...,AVE,HENNEN TRUSTEE LEE & HENNEN TRUSTEE VERNA,45.38191,NaN,227TH,"MN, 55303","(45.38191, -93.35464)",02009100-02,NaN,2507.626106
476,ANOKA,0.0,NaN,NaN,0.0,86000.0,1899-12-30,ANOKA,SAINT FRANCIS,NaN,...,AVE,HENNEN TRUSTEE LEE & HENNEN TRUSTEE VERNA,45.38215,NaN,227TH,"MN, 55303","(45.38215, -93.35534)",02009100-02,NaN,2507.626106
477,ANOKA,0.0,NaN,NaN,0.0,49000.0,1899-12-30,ANOKA,SAINT FRANCIS,NaN,...,AVE,HENNEN TRUSTEE LEE & HENNEN TRUSTEE VERNA,45.3823,NaN,227TH,"MN, 55303","(45.3823, -93.35376)",02009100-02,NaN,2507.626106
478,ANOKA,0.0,NaN,NaN,0.0,49000.0,1899-12-30,ANOKA,SAINT FRANCIS,NaN,...,ST,HENNEN TRUSTEE LEE & HENNEN TRUSTEE VERNA,45.38241,NaN,POPPY,"MN, 55303","(45.38241, -93.35292)",02009100-02,NaN,2507.626106
479,ST FRANCIS,1996.0,NaN,NaN,0.0,247500.0,2008-04-24,ST FRANCIS,SAINT FRANCIS,NaN,...,ST,BJUR MATTHEW,45.38076,NaN,VINTAGE,"MN, 55070","(45.38076, -93.36014)",02009100-02,NaN,2507.626106
480,ST FRANCIS,1982.0,NaN,NaN,0.0,164300.0,1899-12-30,ST FRANCIS,SAINT FRANCIS,NaN,...,AVE,BOMSTAD JEFFREY & SUZANNE,45.37952,NaN,226TH,"MN, 55070","(45.37952, -93.36177)",02009100-02,NaN,2507.626106
481,ST FRANCIS,1982.0,NaN,NaN,0.0,151200.0,1899-12-30,ST FRANCIS,SAINT FRANCIS,NaN,...,AVE,KEECH JASON A & TRACY S,45.37952,NaN,226TH,"MN, 55070","(45.37952, -93.36146)",02009100-02,NaN,2507.626106
482,ST FRANCIS,1982.0,NaN,NaN,0.0,150900.0,1899-12-30,ST FRANCIS,SAINT FRANCIS,NaN,...,AVE,ANDERSON JUSTIN & BRIANA,45.37952,NaN,226TH,"MN, 55070","(45.37952, -93.36115)",02009100-02,NaN,2507.626106
483,ST FRANCIS,1981.0,NaN,NaN,0.0,156400.0,1899-12-30,ST FRANCIS,SAINT FRANCIS,NaN,...,AVE,PANNING NICHOLAS R,45.37953,NaN,226TH,"MN, 55070","(45.37953, -93.36426)",02009100-02,NaN,2507.626106
484,ST. FRANCIS,1984.0,NaN,NaN,0.0,173600.0,2006-07-10,ST. FRANCIS,SAINT FRANCIS,NaN,...,AVE,LERO BEVERLY,45.37953,NaN,226TH,"MN, 55070","(45.37953, -93.36395)",02009100-02,NaN,2507.626106
485,ST FRANCIS,1983.0,NaN,NaN,0.0,165700.0,2001-08-31,ST FRANCIS,SAINT FRANCIS,NaN,...,AVE,KRZMARZICK SCOTT J,45.37953,NaN,226TH,"MN, 55070","(45.37953, -93.36364)",02009100-02,NaN,2507.626106
486,ANDOVER,2000.0,NaN,NaN,0.0,198800.0,2005-12-15,ANDOVER,SAINT FRANCIS,NaN,...,AVE,NEHMZOW MICHAEL,45.37953,NaN,226TH,"MN, 55304","(45.37953, -93.36333)",02009100-02,NaN,2507.626106
487,ST FRANCIS,1982.0,NaN,NaN,0.0,171600.0,2006-10-27,ST FRANCIS,SAINT FRANCIS,NaN,...,AVE,ANTTILA JASON,45.37953,NaN,226TH,"MN, 55070","(45.37953, -93.36302)",02009100-02,NaN,2507.626106
488,ST FRANCIS,1991.0,NaN,NaN,0.0,162900.0,2005-05-31,ST FRANCIS,SAINT FRANCIS,NaN,...,AVE,BAKKE MARIE,45.37961,NaN,226TH,"MN, 55070","(45.37961, -93.35738)",02009100-02,NaN,2507.626106
489,ST FRANCIS,1980.0,NaN,NaN,0.0,143700.0,2000-10-27,ST FRANCIS,SAINT FRANCIS,NaN,...,AVE,MORTON JOHN S,45.37953,NaN,226TH,"MN, 55070","(45.37953, -93.36271)",02009100-02,NaN,2507.626106
490,ST FRANCIS,1984.0,NaN,NaN,0.0,205600.0,1899-12-30,ST FRANCIS,SAINT FRANCIS,NaN,...,AVE,MUELLER ROBERT W & TERRI L,45.37952,NaN,226TH,"MN, 55070","(45.37952, -93.3624)",02009100-02,NaN,2507.626106
491,ST FRANCIS,1980.0,NaN,NaN,0.0,157700.0,1899-12-30,ST FRANCIS,SAINT FRANCIS,NaN,...,AVE,JENKINS LEEANN M,45.37952,NaN,226TH,"MN, 55070","(45.37952, -93.36208)",02009100-02,NaN,2507.626106
492,ST FRANCIS,1980.0,NaN,NaN,0.0,167300.0,1899-12-30,ST FRANCIS,SAINT FRANCIS,NaN,...,ST,KATSERES NICHOLAS W & MICHELLE,45.37949,NaN,ZEA,"MN, 55070","(45.37949, -93.36506)",02009100-02,NaN,2507.626106
493,ST FRANCIS,1980.0,NaN,NaN,0.0,161800.0,2003-06-26,ST FRANCIS,SAINT FRANCIS,NaN,...,AVE,FOX ERIK R & BENSON ANGELA,45.37955,NaN,226TH,"MN, 55070","(45.37955, -93.36462)",02009100-02,NaN,2507.626106
494,ST FRANCIS,1985.0,NaN,NaN,0.0,158100.0,1899-12-30,ST FRANCIS,SAINT FRANCIS,NaN,...,LN,ATKINS TIMOTHY T & TAMMY L,45.3781,NaN,225TH,"MN, 55070","(45.3781, -93.36553)",02009100-02,NaN,2507.626106
495,ST FRANCIS,1985.0,NaN,NaN,0.0,160200.0,2003-08-28,ST FRANCIS,SAINT FRANCIS,NaN,...,LN,ANDERSON MATTHEW,45.3781,NaN,225TH,"MN, 55070","(45.3781, -93.36522)",02009100-02,NaN,2507.626106
496,ST FRANCIS,1982.0,NaN,NaN,0.0,169500.0,2000-12-29,ST FRANCIS,SAINT FRANCIS,NaN,...,LN,TRUE JAMES E & KARRYAN,45.3781,NaN,225TH,"MN, 55070","(45.3781, -93.36491)",02009100-02,NaN,2507.626106
497,ST. FRANCIS,1982.0,NaN,NaN,0.0,194500.0,2005-02-28,ST. FRANCIS,SAINT FRANCIS,NaN,...,LN,SCHWARTZ REGINA,45.37809,NaN,225TH,"MN, 55070","(45.37809, -93.36454)",02009100-02,NaN,2507.626106
498,ST. FRANCIS,1980.0,NaN,NaN,0.0,167900.0,2008-05-12,ST. FRANCIS,SAINT FRANCIS,NaN,...,LN,FENNEY DARLENE,45.37809,NaN,225TH,"MN, 55070","(45.37809, -93.3639)",02009100-02,NaN,2507.626106
499,SAINT FRANCIS,1980.0,NaN,NaN,0.0,160800.0,2001-10-09,SAINT FRANCIS,SAINT FRANCIS,NaN,...,LN,ZIMMERMAN KURT,45.37809,NaN,225TH,"MN, 55070","(45.37809, -93.36354)",02009100-02,NaN,2507.626106

6. We need to make a unique primary key for each row in the combined parcel file.<br>
    a. There is a column that appears to be a unique parcel id.  Double check that this is a true primary key for each individual file. (To do this you need to verify that the number of unique values is the same as the number of rows for each of the parcel files.  **Hint:** For each file, use of the accumulator pattern with two accumualtors (one number and one data frame). <br>
    b. Explain why this column will not work as a primary key if we want to combine all years in one database. <br>
    c. Suppose we make a new column that consist of `str(year) + '-' + PID`.  Explain why this should make a proper primary key for the combined data. <br>

In [ ]:
for i, chunk in enumerate(fileiterator):
    for

In [48]:
[(col, exp[col].is_unique) for col in exp]

[('OWN_ADD_L2', False),
 ('YEAR_BUILT', False),
 ('COOLING', False),
 ('GREEN_ACRE', False),
 ('PARC_CODE', False),
 ('EMV_TOTAL', False),
 ('SALE_DATE', False),
 ('TAX_ADD_L2', False),
 ('CITY_USPS', False),
 ('USE4_DESC', False),
 ('ZIP4', False),
 ('HEATING', False),
 ('Year', False),
 ('GARAGE', False),
 ('SCHOOL_DST', False),
 ('SALE_VALUE', False),
 ('USE3_DESC', False),
 ('NUM_UNITS', False),
 ('PLAT_NAME', False),
 ('SPEC_ASSES', False),
 ('SUFFIX_DIR', False),
 ('LANDMARK', False),
 ('BLDG_NUM', False),
 ('OWN_ADD_L1', False),
 ('WSHD_DIST', False),
 ('XUSE2_DESC', False),
 ('LOT', False),
 ('EMV_LAND', False),
 ('COUNTY_ID', False),
 ('BASEMENT', False),
 ('DWELL_TYPE', False),
 ('USE1_DESC', False),
 ('MULTI_USES', False),
 ('FIN_SQ_FT', False),
 ('Shape_Leng', False),
 ('TAX_NAME', False),
 ('ACRES_POLY', False),
 ('HOMESTEAD', False),
 ('UNIT_INFO', False),
 ('AG_PRESERV', False),
 ('TOTAL_TAX', False),
 ('ACRES_DEED', False),
 ('AGPRE_EXPD', False),
 ('BLOCK', False),
 ('GARAGESQFT', False),
 ('USE2_DESC', False),
 ('TAX_CAPAC', False),
 ('PREFIXTYPE', False),
 ('XUSE1_DESC', False),
 ('AGPRE_ENRD', False),
 ('centroid_long', False),
 ('ZIP', False),
 ('TAX_ADD_L3', False),
 ('CITY', False),
 ('TAX_EXEMPT', False),
 ('HOME_STYLE', False),
 ('TAX_ADD_L1', False),
 ('XUSE3_DESC', False),
 ('XUSE4_DESC', False),
 ('OPEN_SPACE', False),
 ('EMV_BLDG', False),
 ('PIN', False),
 ('Shape_Area', False),
 ('OWNER_MORE', False),
 ('STREETTYPE', False),
 ('OWNER_NAME', False),
 ('centroid_lat', False),
 ('PREFIX_DIR', False),
 ('STREETNAME', False),
 ('OWN_ADD_L3', False),
 ('lat_long', True),
 ('lake_code', False),
 ('lake_name', False),
 ('parcel_dist_to_lake', False)]

7. Make a function to add the key suggested in the last problem (`str(year) + '-' + PID`) to a given chunk.

#### Note: If you are clever, you can do parts 8 in one double loop, which will save you from having to read the parcel files twice.

8. It is probably worth our time to test that our new key column is truely unique. (If not, we might be wasting out time loading the data into a database, only to have process fail hours in.) Test that the new column works by <br>
    a. Iterating over all the files.<br>
    b. Using an accumulator to count total number of rows across all parcel files. <br>
    c. Using an accumulator to accumulate a set of all unique values of our new key. <br>
    d. Verifying that we have as many total rows as unique keys.
    a. Selecting just this column. <br>
    b. Dumping this column into a temporary database <br>

9. If the last step succeeded, you can proceed to make a master parcel data database.  If not, you will need to figure out another primary key, probably an `id` column similar to the example in the lectures.